@font-face {
    src: url(../fonts/Montserrat-Black.ttf);
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Montserrat-BlackItalic.ttf);
    font-family: Montserrat;
    font-weight: normal;
    font-style: italic;
}
@font-face {
    src: url(../fonts/Montserrat-Bold.ttf);
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Montserrat-BoldItalic.ttf);
    font-family: Montserrat;
    font-weight: 700;
    font-style: italic;
}
@font-face {
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-family: Montserrat;
    font-weight: 800;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Montserrat-ExtraBoldItalic.ttf);
    font-family: Montserrat;
    font-weight: 800;
    font-style: italic;
}
@font-face {
    src: url(../fonts/Montserrat-ExtraLight.ttf);
    font-family: Montserrat;
    font-weight: 200;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Montserrat-ExtraLightItalic.ttf);
    font-family: Montserrat;
    font-weight: 200;
    font-style: italic;
}
@font-face {
    src: url(../fonts/Montserrat-Italic.ttf);
    font-family: Montserrat;
    font-weight: normal;
    font-style: italic;
}
@font-face {
    src: url(../fonts/Montserrat-Light.ttf);
    font-family: Montserrat;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Montserrat-Medium.ttf);
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Montserrat-MediumItalic.ttf);
    font-family: Montserrat;
    font-weight: 500;
    font-style: italic;
}
@font-face {
    src: url(../fonts/Montserrat-Regular.ttf);
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Montserrat-SemiBoldItalic.ttf);
    font-family: Montserrat;
    font-weight: 600;
    font-style: italic;
}
@font-face {
    src: url(../fonts/Montserrat-Thin.ttf);
    font-family: Montserrat;
    font-weight: 100;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Montserrat-ThinItalic.ttf);
    font-family: Montserrat;
    font-weight: 100;
    font-style: italic;
}


