$base-white-color: #e6e6e6;
$base-black-color: #000;
$soft-red: rgb(228, 79, 79);
$light-red: rgb(255, 58, 82);
$bright-red: rgb(254, 58, 80);
$dark-grey: rgb(131, 131, 131);
$soft-blue: #7286e7;
$soft-violet: #a551db;
$grayish-violet: rgb(163, 154, 180);
$light-grayish-violet: rgb(244, 240, 251);
$bright-violet: rgb(173,61,245);
$moderate-violet: rgb(120, 61, 208);
$light-grayish-orange: rgb(245, 244, 243);
$light-grayish-yellow: #fff;
$very-dark-gray: rgb(103, 103, 103);
$dark-gray: rgb(158, 158, 158);
$very-light-gray: #e6e6e6;
$mostly-dark-gray: rgb(38, 38, 38);
$gray: rgb(167, 167, 167); 