@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.about {
    // overflow-x: hidden;
    .about__us {
        background-image: linear-gradient(180deg, #f5f5f4 85%, $base-white-color 85%, $base-white-color 100%);
    }
    .about-player {
        margin-top: 4.5rem;
    }
    .flexible {
        @include flex(row, nowrap, stretch, space-between);
        margin-bottom: 1.5rem;
        a {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
            text-transform: uppercase;
            transition: all 300ms ease;
            position: relative;
            z-index: 0;
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    height: 7%;
                    width: 0%;
                    background: $bright-red;
                    z-index: -1;
                    transition: all 300ms ease;
                }
            }
            &:hover {
                span {
                    &:before {
                        content: '';
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }   
        }
        span {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
        }
        h4 {
            @include text(Montserrat, 12px, 1.2, 700, $dark-grey);
            text-transform: uppercase;
        }
    }
    .purchases__block {
        background-color: $base-white-color;
        padding-bottom: 5rem;
        h2 {
            margin-top: 3rem;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .arrowBox {
            position: relative;
            border: 5px solid rgb(240, 244, 248);
            background-color: $base-white-color;
            min-height: 132px;
            padding: 30px;
            margin-top: 6rem;
            &:after {
                position: absolute;
                width: 30px;
                height: 30px;
                border: 5px solid rgb(240, 244, 248);
                bottom: 100%;
                left: 5%;
                
                content: '';
                transform: rotate(45deg);
                margin-bottom: -11px;
                background-color: $base-white-color;
                border-bottom: 0px;
                border-right: 0px;
            }
            p {
                max-width: 70%;
            }
            div {
                position: absolute;
                width: 357px;
                height: 241px;
                max-width: 357px;
                max-height: 241px;
                right: 0;
                bottom: 0;
                background-image: url(../images/about-arrowBox__img.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position-x: 100%;
                background-position-y: 100%;
            }
        }   
    }      
    h2 {
        @include text(Montserrat, 20px, 1.5, 400, $mostly-dark-gray);
        text-align: center;    
    }
    p {
        @include text(Montserrat, 15px, 1.667, 600, #7a7a7a);
        span {
            color: $mostly-dark-gray;
        } 
    }
    .smart__shopping {
        margin-top: 5rem;
        h1 {
            @include text(Montserrat, 32px, 1.406, 400, $mostly-dark-gray);
            span {
                font-weight: 700;
            }
              
        }
        .smart__wrapper {
            position: relative;
            margin-top: 2.7rem;
            overflow: hidden;
            &:before {
                position: absolute;
                top: 0;
                left: -75%;
                z-index: 2;
                display: block;
                content: '';
                width: 50%;
                height: 100%;
                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                -webkit-transform: skewX(-25deg);
                transform: skewX(-25deg);
            }
            &:hover:before {
                -webkit-animation: shine .75s;
	            animation: shine .75s;
            }
            p {
                @include text(Montserrat, 17px, 1.471, 500, $mostly-dark-gray);
                margin-top: 1rem;
            }
            img {
                max-width: 396px;
                max-height: 297px;
                width: 100%; 
                min-height: 297px; 
            }
        }
        .makeSure {
            div:first-child {
                position: relative;
                background-color: $base-white-color;
                padding-top: 50px;
                padding-left: 35px;
                padding-right: 35px;
                padding-bottom: 35px;
                margin-top: 2.7rem;
                &:after {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border: 5px solid rgb(240, 244, 248);
                    bottom: 100%;
                    left: 7%;
                    content: '';
                    transform: rotate(45deg);
                    margin-bottom: -11px;
                    background-color: #f5f5f4;
                    border-top: 0px;
                    border-left: 0px;
                }
                h1 {
                    @include text(Montserrat, 24px, 1.042, 600, $mostly-dark-gray);                  
                }
                p {
                    @include text(Montserrat, 15px, 1.667, 400, $mostly-dark-gray);
                    margin-top: 20px;
                    text-align: left;
                    max-width: 100%; 
                }
                a {
                    @include text(Montserrat, 15px, 1.667, 400, #5996f0);  
                    text-decoration: underline;
                } 
                .getConsultation {
                    border: none;
                    border-radius: 3px;
                    background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                    width: 100%;
                    max-width: 324px;
                    min-height: 53px;
                    margin-top: 25px;
                    text-transform: uppercase;
                    @include text(Montserrat, 12px, 1.2, 700, $base-white-color);
                    position: relative;
                    z-index: 0;
                    transition: all 300ms ease;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 0%;
                        background-color: white;
                        top: 0;
                        left: 50%;
                        z-index: -1;
                        transition: all 0ms ease;
                    }
                    &:hover {
                        color: rgb(168,68,246);
                        &:before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: white;
                            top: 0;
                            left: 0%;
                            z-index: -1;
                            transition: all 300ms ease;
                        }
                    }
                }
            }
            p {
                text-align: center;
                max-width: 89%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
                @include text(Montserrat, 13px, 1.538, 400, $mostly-dark-gray);
            }
        }
    }
    .text__border {
        position: relative;
        padding-top: 50px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 35px;
        border-top: 5px solid rgb(240, 244, 248);
        margin-top: 56px;
        // background-image: url(../images/img_house.png);
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position-x: 100%;
        // background-position-y: 100%;
        &:before {
            content: url(../images/img_house.png);
            width: 798px;
            height: 406px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
        &:after {
            @include text(Montserrat, 32px, 0.781, 500, $mostly-dark-gray);
            content: attr(data-text);
            position: absolute;
            bottom: 96%;
            left: 5%;
            min-width: 283px;
            min-height: 27px;
            background-color: #f5f5f4;
            border-top: 0px;
            border-left: 0px;
            padding-left: 7px;
            padding-right: 7px;
        }
        p {
            color: $mostly-dark-gray;
            font-weight: 400;
        }
        ul {
            list-style: none;
            padding-left: 0;
            margin-top: 42px;
            li {
                position: relative;
                padding-left: 2.5rem;
                margin-top: 22px;
                &:first-child {
                    margin-top: 0;
                }
                &:before {
                    content: url(../images/check.png);
                    position: absolute;
                    left: 0;
                    top: 25%;
                }
                p {
                    @include text(Montserrat, 17px, 1.765, 600, $mostly-dark-gray);
                }
            }
        }
    }
    .whyUs {
        padding-top: 75px;
        background-color: $base-white-color;
        h2 {
            @include text(Montserrat, 32px, 1.875, 500, $mostly-dark-gray);
            text-align: left;
        }
        h1 {
            @include text(Montserrat, 32px, 1.2, 700, $mostly-dark-gray);
            text-transform: uppercase;
        }
        .reasons__01 {
            position: relative;
            padding-top: 40px;
            padding-left: 37px;
            padding-right: 37px;
            padding-bottom: 75px;
            background-color: rgb(120, 60, 208);
            margin-top: 56px;
            border-left: 5px rgb(112, 135, 241) solid;
            &:after {
                content: "";
                position: absolute;
                bottom: 0%;
                right: 0%;
                min-width: 0px;
                min-height: 0px;
                border-bottom: 20px solid #ffffff;
                border-left: 20px solid #ccd5de;
                position: absolute;
            }
            &:before {
                content: url('../images/reason__img-01.png');
                position: absolute;
                top: 25%;
                right: 100%;
                max-width: 735px;
                max-height: 420px;
            }
            h1 {
                @include text(Montserrat, 20px, 1.75, 700, $base-white-color);
            }
            h2 {
                @include text(Montserrat, 15px, 1.667, 700, $base-white-color);
                margin-top: 37px;     
            }
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    p {
                        margin-top: 25px;
                        @include text(Montserrat, 15px, 1.667, 400, $base-white-color);
                    }
                }
            }
        }
        .reasons__02 {
            position: relative;
            padding-top: 40px;
            padding-left: 37px;
            padding-right: 37px;
            padding-bottom: 75px;
            background-color: rgb(120, 60, 208);
            margin-top: 56px;
            border-right: 5px rgb(112, 135, 241) solid;
            // background-image: url(../images/img_house.png);
            // background-repeat: no-repeat;
            // background-size: contain;
            // background-position-x: 100%;
            // background-position-y: 100%;
            // &:before {
            //     content: url(../images/img_house.png);
            //     width: 798px;
            //     height: 406px;
            //     position: absolute;
            //     right: 0;
            //     bottom: 0;
            // }
            &:after {
                content: "";
                position: absolute;
                bottom: 0%;
                left: 0%;
                min-width: 0px;
                min-height: 0px;
                border-top: 20px solid #ccd5de;
                border-left: 20px solid #ffffff;
                position: absolute;
            }
            &:before {
                content: url('../images/reason__img-01.png');
                position: absolute;
                top: 25%;
                left: 100%;
                max-width: 735px;
                max-height: 420px;
            }
            h1 {
                @include text(Montserrat, 20px, 1.75, 700, $base-white-color);
            }
            h2 {
                @include text(Montserrat, 15px, 1.667, 700, $base-white-color);
                margin-top: 37px;     
            }
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    p {
                        margin-top: 25px;
                        @include text(Montserrat, 15px, 1.667, 400, $base-white-color);
                    }
                }
            }
        }
    }
    .quality__wrapper {
        background-image: linear-gradient(180deg, $base-white-color 45%, #f5f5f4 45%, #f5f5f4 100%);
        padding-top: 90px;
        .quality__container {
            background-color: $base-white-color;
            box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.3);
            padding-top: 50px;
            padding-left: 40px;
            padding-right: 40px; 
            padding-bottom: 100px;          
            h1 {
                @include text(Montserrat, 20px, 1.25, 700, $mostly-dark-gray);
                -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            }
            p {
                @include text(Montserrat, 20px, 1.5, 400, $mostly-dark-gray);
                -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                margin-top: 37px;
            }
            .quotes {
                padding-left: 30px;
                padding-top: 25px;
                padding-bottom: 30px;
                background-color: rgb(240, 244, 248);
                max-width: 520px;
                margin-top: 38px;
                position: relative;
                &:after {
                    content: url('../images/packages.png');
                    position: absolute;
                    left: 75%;
                    top: 30%;
                }
                &:before {
                    content: url('../images/quotes.png');
                    position: absolute;
                    bottom: 84%;
                    right: 10%;
                }     
                p {
                    @include text(Montserrat, 15px, 1.5, 400, $mostly-dark-gray);
                    -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                    -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                    -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                    margin-top: 0;
                    max-width: 390px;
                }
            }
            h2 {
                @include text(Montserrat, 15px, 1.667, 700, $mostly-dark-gray);
                text-align: left;
                -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            }
            ul {
                list-style: none;
                padding-left: 0;
                margin-top: 35px;
                li {
                    position: relative;
                    padding-left: 2.5rem;
                    margin-top: 15px;
                    &:first-child {
                        margin-top: 0;
                    }
                    &:before {
                        content: url(../images/check.png);
                        position: absolute;
                        left: 0;
                        top: 10%;
                    }
                    p {
                        @include text(Montserrat, 15px, 1.667, 400, $mostly-dark-gray);
                        -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                        -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                        -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .whyImportant {
        margin-top: 80px;
        h1 {
            @include text(Montserrat, 32px, 1.25, 700, $mostly-dark-gray);
        }
        p {
            @include text(Montserrat, 20px, 1.5, 400, $mostly-dark-gray);
            -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            margin-top: 42px;
        }
        h2 {
            @include text(Montserrat, 15px, 1.667, 700, $mostly-dark-gray);
            text-align: left;
            margin-top: 40px;
            -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            span {
                color: #5996f0;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
        ul {
            list-style: none;
            padding-left: 0;
            margin-top: 35px;
            max-width: 75%;
            li {
                position: relative;
                padding-left: 2.5rem;
                margin-top: 15px;
                &:first-child {
                    margin-top: 0;
                }
                &:before {
                    content: url(../images/check.png);
                    position: absolute;
                    left: 0;
                    top: 10%;
                }
                p {
                    @include text(Montserrat, 15px, 1.667, 400, $mostly-dark-gray);
                    -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                    -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                    -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                    margin-top: 0;
                }
            }
        }
    }
    .instructions__wrapper {
        background-image: url(../images/whyImporatnt__bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 90px;
        padding-bottom: 100px;
        margin-top: 80px;
        position: relative;
        &:after {
            position: absolute;
            width: 30px;
            height: 30px;
            border: 5px solid #f5f5f4;
            bottom: 100%;
            left: 7%;
            content: '';
            transform: rotate(45deg);
            margin-bottom: -11px;
            background-color: #f5f5f4;
            border-top: 0px;
            border-left: 0px;
        }
        h1 {
            @include text(Montserrat, 32px, 1.25, 400, rgba(255,255,255, .7));
        }
        p {
            @include text(Montserrat, 20px, 1.75, 700, $base-white-color);
            max-width: 75%;
            -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            margin-top: 50px;    
            position: relative;
            &:after {
                content: url(../images/arrow.png);
                position: absolute;
                top: 100%;
                left: 100%;
            }  
        }
        ul {
            list-style: none;
            padding-left: 0;
            margin-top: 50px;
            li {
                position: relative;
                padding-left: 2.5rem;
                margin-top: 15px;
                &:first-child {
                    margin-top: 0;
                }
                &:before {
                    content: url(../images/check.png);
                    position: absolute;
                    left: 0;
                    top: 10%;
                }
                p {
                    @include text(Montserrat, 17px, 1.471, 400, $base-white-color);
                    -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                    -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                    -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                    margin-top: 0;
                    max-width: unset;
                    position: static;
                    &:after {
                        content: unset;
                    }
                }
            }
        }
    }
    .app__get {
        margin-top: 95px;
        h1 {
            @include text(Montserrat, 32px, 1.25, 400, $mostly-dark-gray);
            margin-bottom: 55px;
        }
        h2 {
            @include text(Montserrat, 20px, 1.25, 700, $mostly-dark-gray);
            -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);     
            text-align: left;
        }
        .app__flexer {
            @include flex(row, wrap, flex-start, space-between);
            max-width: 90%;
            margin-top: 35px;
            p {
                @include text(Montserrat, 15px, 1.667, 500, $mostly-dark-gray);
                max-width: 436.158px;
                -moz-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                -webkit-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
                -ms-transform: matrix( 0.99999985741885,-0.00053400587291,0.00053400587291,0.99999985741885,0,0);
            }
           
        }
    }    
}
.about-player {
    max-width: 821px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.3);
    max-height: 400px;
    height: 400px;
    iframe {
        max-height: 400px;
        width: 100%;
        height: 400px;
        background-color: black;
    }
    .slick-prev, .slick-next {
        border-radius: 50%;
        background-image: -moz-linear-gradient( 0deg, $bright-violet 0%, $soft-blue 100%);
        background-image: -webkit-linear-gradient( 0deg, $bright-violet 0%, $soft-blue 100%);
        background-image: -ms-linear-gradient( 0deg, $bright-violet 0%, $soft-blue 100%);
        box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
        width: 43px;
        height: 43px;
        background-color: $base-white-color;
    }
    .slick-prev {
        left: -100px;
    }
    .slick-next {
        right: -100px;
    }
    .slick-prev::before {
        content: url(../images/about-player__arrow-left.png);
    }
    .slick-next::before {
        content: url(../images/about-player__arrow-right.png);
    }
    .slick-prev::before, .slick-next::before {
        font-family: unset;
        font-size: 18px;
        opacity: 1;
    }
    .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        background-color: $dark-gray;
        background-image: unset;
        transition: background-color .4s linear;              
    }
    // .slick-prev:hover .slick-prev::before, .slick-prev:focus .slick-prev::before{
    //     content: url(../images/about-player__arrow-left_hover.png) !important;
    // }
    // .slick-next:hover .slick-next::before, .slick-next:focus .slick-next::before {
    //     content: url(../images/about-player__arrow-right_hover.png);
    // }
}
@media (max-width: 576px) {
    .about {
        .purchases__block {
            .arrowBox {
                margin-top: 3rem;
                p {
                    max-width: 100%;
                }
                div {
                    display: none;
                }
            }
        }
        .text__border {
            &:before {
                display: none;
            }
        }
        .reasons__01 {
            &:before {
                display: none;
            }
        }
        .reasons__02 {
            &:before {
                display: none;
            }
        }
        .quotes {
            &:after {
                display: none;
            }
        }
        .quality__wrapper .quality__container h2 {
            margin-top: 37px;
        }
        .instructions__wrapper p:after {
            display: none;
        }
    }
    .about-player .slick-next {
        top: 106%;
        right: 25%;
        z-index: 1;
    }
    .about-player .slick-prev {
        top: 106%;
        left: 25%;
        z-index: 1;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .about-player .slick-next {
        top: 106%;
        right: 25%;
        z-index: 1;
    }
    .about-player .slick-prev {
        top: 106%;
        left: 25%;
        z-index: 1;
    }
    .about .whyImportant img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 468px;
        margin-top: 2rem;
    }
    .about {
        .purchases__block {
            .arrowBox {
                margin-top: 3rem;
                p {
                    max-width: 100%;
                }
                div {
                    display: none;
                }
            }
        }
        .text__border {
            &:before {
                display: none;
            }
        }
        .reasons__01 {
            &:before {
                display: none;
            }
        }
        .reasons__02 {
            &:before {
                display: none;
            }
        }
        .quotes {
            &:after {
                display: none;
            }
        }
        .quality__wrapper .quality__container h2 {
            margin-top: 37px;
        }   
        .instructions__wrapper p:after {
            display: none;
        }
    }
    .about .app__get .app__flexer {
        max-width: 100%;
    }
    .about .app__get h1 {
        margin-bottom: 40px;
    }
    .about .app__get h2 {
        margin-top: 15px;
    }
}
@media (min-width:769px) and (max-width: 992px) {  
    .about-player .slick-next {
        top: 106%;
        right: 25%;
        z-index: 1;
    }
    .about-player .slick-prev {
        top: 106%;
        left: 25%;
        z-index: 1;
    }
    .about .purchases__block .arrowBox div  {
        background-size: 70%;
    }
    .about .text__border {
        &:before {
            display: none;
        }
    }
    .about  .reasons__01 {
        &:before {
            display: none;
        }
    }
    .about .reasons__02 {
        &:before {
            display: none;
        }
    }
    .about .whyImportant img {
        height: unset;
    }
    .about .instructions__wrapper p:after {
        display: none;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .about .text__border:before {
        width: 600px;
        height: 336px;
    }
    .about-player .slick-next {
        right: 0%;
    }
    .about-player .slick-prev {
        left: 0%;
        z-index: 1;
    }
}
@media (min-width: 1976px) {
    .about .smart__shopping .smart__wrapper img {
        max-width: 480px;
    }
}