.advice {
    .flexible {
        @include flex(row, nowrap, stretch, space-between);
        a {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
            text-transform: uppercase;
            transition: all 300ms ease;
            position: relative;
            z-index: 0;
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    height: 7%;
                    width: 0%;
                    background: $bright-red;
                    z-index: -1;
                    transition: all 300ms ease;
                }
            }
            &:hover {
                span {
                    &:before {
                        content: '';
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }   
        }
        span {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
        }
        h4 {
            @include text(Montserrat, 12px, 1.2, 700, $dark-grey);
            text-transform: uppercase;
        }
    }
    h1 {
        @include text(Montserrat, 24px, 1.2, 700, $base-black-color);
    }
    .popular__advices {
        @include flex(row, wrap, stretch, flex-start);
        margin: 0 -5px;
        .advice-btn {
            @include text(Montserrat, 14px, 1.2, 400, $dark-grey);
            border-width: 2px;
            border-color: rgb(131, 131, 131);
            border-style: solid;
            border-radius: 3px;
            margin-left: 4px;
            min-height: 40px;
            margin-top: 15px;
            padding-left: 20px;
            padding-right: 20px;
            outline: none;
            transition: all 300ms ease, border-width 0ms;
            position: relative;
            z-index: 0;
            background: transparent;
            &:before {
                position: absolute;
                content: '';
                width: 0%;
                height: 100%;
                background: transparent;
                top: 0;
                left: auto;
                right: 0;
                z-index: -1;
                transition: all 300ms ease, border-width 0ms;
            }
            &:hover {
                color: rgb(245, 244, 242);
                border-color: #f5f5f4;
                
                box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
                    border-radius: 3px;
                }
            }
           
        }
        .advice-btn__chosen {
            background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
            border-color: #f5f5f4;
            color: rgb(245, 244, 242);
        }
    }
    .advices__video {
        background-color: $base-white-color;
        margin-top: 5rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        h1 {
            @include text(Montserrat, 24px, 1.2, 700, $base-black-color);
            margin-bottom: 2rem;
        }
        .advice-player {
            h3 {
                @include text(Montserrat, 16px, 1.2, 600, rgb(49, 49, 49));
                margin-top: 20px;
            }
            iframe {
                height: 298px;
                max-height: 298px;
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            .slick-prev, .slick-next {
                border-radius: 50%;
                background-image: -moz-linear-gradient( 0deg, $bright-violet 0%, $soft-blue 100%);
                background-image: -webkit-linear-gradient( 0deg, $bright-violet 0%, $soft-blue 100%);
                background-image: -ms-linear-gradient( 0deg, $bright-violet 0%, $soft-blue 100%);
                box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                width: 43px;
                height: 43px;
                background-color: $base-white-color;
            }
            .slick-prev {
                left: -48px;
            }
            .slick-next {
                right: -48px;
            }
            .slick-prev::before {
                content: url(../images/about-player__arrow-left.png);
            }
            .slick-next::before {
                content: url(../images/about-player__arrow-right.png);
            }
            .slick-prev::before, .slick-next::before {
                font-family: unset;
                font-size: 18px;
                opacity: 1;
            }
            .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
                background-color: $dark-gray;
                background-image: unset;
                transition: background-color .4s linear;              
            }
        }
    }
    .articles--container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .article--wrapper {
        padding-top: 35px;
        padding-bottom: 35px;
        &:nth-child(n + 3) {
            margin-top: 0;
            border-top: 1px solid rgb(221, 220, 218);
        }
        .img__wrapper {
            width: 100%;
            max-width: 651px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            cursor: pointer;
            div {
                overflow: hidden;
            }
            img {
                width: 100%;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
            &:after {
                content: '';
                position: absolute;
                top: 98%;
                left: 0;
                @include text(Montserrat, 15px, 1.867, 500, $base-white-color);
                background-color: rgb(120, 60, 208);
                display: flex;
                align-items: center;
                width: 100%;
                transition: height .3s ease-out;
                padding-left: 30px;
                height: 0;
            }
            &:hover:after {
                content: attr(img-caption);
                transition: all .3s ease-out;
                height: 59px;
                opacity: 1;
            }
            &:hover {
                img {
                    -webkit-transform: scale(1.21);
	                transform: scale(1.21);
                }
            }
        }
        h1 {
            @include text(Montserrat, 24px, 1, 700, rgb(38, 38, 38));
        }
        p {
            @include text(Montserrat, 15px, 1.667, 400, $base-black-color);
            margin-top: 20px;
        }
        .article__more {
            @include text(Montserrat, 15px, 19px, 700,rgb(254, 58, 80));
            position: relative;
            margin-top: 25px;
            display: inline-block;
            cursor: pointer;
            opacity: 1;
            transition: all .3s ease;
            &:not([href]):not([tabindex]):focus, &:not([href]):not([tabindex]):hover {
                color: rgb(254, 58, 80);
            }
            &:after {
                position: absolute;
                content: url(../images/boutique__description-arrow.png);
                left: 110%;
                top: 0;
            }
        }
        .moreContent {
            height: 100%;
            max-height: 250px;
            overflow: hidden;
            position: relative;
            transition: all .3s ease;
            display: none;
            .content__fadeout {
                position: absolute; 
                bottom: 0em;
                width:100%;
                height: 4em;
                background-image: -moz-linear-gradient( 90deg, rgb(245,244,242) 0%, rgba(255,255,255,0) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(245,244,242) 0%, rgba(255,255,255,0) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(245,244,242) 0%, rgba(255,255,255,0) 100%);
            }
            p {
                margin-top: 15px;
                span {
                    font-weight: 700;
                }
                  
            }    
        }
    }
}
@media (max-width: 576px) {
    // .advice .popular__advices {
    //     flex-direction: column;
    // }
    .advice .popular__advices .advice-btn {
        width: 100%;
    }
    .advice .advices__video .advice-player .slick-prev, .advice .advices__video .advice-player .slick-next  {
        
        top: -10%;
    }
    .advice .advices__video .advice-player .slick-next {
        right: 5%;
    }
    .advice .advices__video .advice-player .slick-prev {
        left: 65%;
    }
    .advice .article--wrapper .img__wrapper:hover img {
        transform: unset;
        -webkit-transform: unset;
    }
    
    .advice .article--wrapper .img__wrapper:after {
        display: none;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .advice .popular__advices {
        justify-content: space-around;
    }
    .advice .popular__advices .advice-btn {
        width: 40%;
    }
    .advice .advices__video .advice-player .slick-prev, .advice .advices__video .advice-player .slick-next  {
        
        top: -10%;
    }
    .advice .advices__video .advice-player .slick-next {
        right: 5%;
    }
    .advice .advices__video .advice-player .slick-prev {
        left: 65%;
    }
    .advice .article--wrapper .img__wrapper:hover img {
        transform: unset;
        -webkit-transform: unset;
    }
    
    .advice .article--wrapper .img__wrapper:after {
        display: none;
    }
}
@media (min-width:769px) and (max-width: 992px) {
    .advice .advices__video .advice-player .slick-prev, .advice .advices__video .advice-player .slick-next  {
        top: -10%;
    }
    .advice .advices__video .advice-player .slick-next {
        right: 5%;
    }
    .advice .advices__video .advice-player .slick-prev {
        left: 65%;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .advice .advices__video .advice-player .slick-next {
        right: 0;
    }
    .advice .advices__video .advice-player .slick-prev {
        left: 0;
    }
    .advice .advices__video .advice-player .slick-prev, .advice .advices__video .advice-player .slick-next  {
        z-index: 100;
    }
}
.block{
    display: block !important;
}