.cardd {
    .flexible {
        @include flex(row, nowrap, stretch, space-between);
        margin-bottom: 1.5rem;
        max-width: 78%;
        a {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
            text-transform: uppercase;
            transition: all 300ms ease;
            position: relative;
            z-index: 0;
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    height: 7%;
                    width: 0%;
                    background: $bright-red;
                    z-index: -1;
                    transition: all 300ms ease;
                }
            }
            &:hover {
                span {
                    &:before {
                        content: '';
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }   
        }
        span {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
        }
        h4 {
            @include text(Montserrat, 12px, 1.2, 700, $dark-grey);
            text-transform: uppercase;
        }
    }
    .slider-for {
        margin-bottom: -50px;
        .slick-slide {
            
            img {
                width: 100%;
                max-height: 485px;
                min-height: 485px;
            }
        }
    }
    .slider-nav {
        .slick-prev, .slick-next {
            border-radius: unset;
            background-color: unset;
            border: none;
            width: 43px;
            height: 43px;
        }
        .slick-prev, .slick-next {
            top: 80%;
        }
        .slick-prev {
        }
        .slick-next {
        }
        .slick-prev::before {
            content: url(../images/tour-arrow_left.png);
        }
        .slick-next::before {
            content: url(../images/tour-arrow_right.png);
        }
        .slick-slide {
            img {
                width: 88%;
                margin-left: auto;
                margin-right: auto;
                max-height: 110px;
                min-height: 110px;
            }
        }
    }
    .boutique__info-wrapper {
        h1 {
            @include text(Montserrat, 17px, 1.75, 700, $mostly-dark-gray);
            @media (min-width: 1400px) {
                font-size: 20px;
            }
            
        }
        p {
            @include text(Montserrat, 16px, 1.75, 500, $mostly-dark-gray);
        }
        .share {
            @include flex(row, wrap, stretch, space-between);
            padding-left: 0;
            list-style: none;
            margin-top: .7rem;
            li {
                padding-left: 12px;
                &:first-child {
                    padding-left: 0;
                }
                a {
                    @include text(Montserrat, 16px, 1.2, 400, #a2a2a2);
                    @include flex(row, wrap, center, space-between);
                    i {
                        font-size: 28px;
                        margin-right: 7px;
                        transition: all .3s ease;
                        &:hover {
                            filter: grayscale(.4)
                        }
                        &.fa-twitter-square {
                            color: #5ba3eb;
                        }
                        &.fa-facebook-square {
                            color: #455897;
                        }
                        &.fa-google-plus-square {
                            color: #c24c36;
                        }
                        &.fa-invision {
                            color: #457ab5;
                        }
                    }
                }
            }
        }
        .boutique__rating {
            @include flex(row, wrap, center, space-between);
            margin-top: .5rem;
            p {
                @include text(Montserrat, 14px, 1.786, 500, $mostly-dark-gray);
            }
        }
        .boutique__info {
            p {
                @include text(Montserrat, 15px, 2.4, 500, rgb(28, 34, 46));
                @media (min-width: 1400px) {
                    line-height: 3;
                }
            }
            h2 {
                @include text(Montserrat, 15px, 2.4, 700, rgb(28, 34, 46));
                @media (min-width: 1400px) {
                    line-height: 3;
                }
            }
            .row {
                margin-left: 0;
                margin-right: 0;
                &:nth-child(1) {
                    margin-top: 40px;
                }
            }
            .row:nth-child(odd) {
                background-color: rgb(255, 255, 255);
            }
        }
        // .nav-tabs {
        //     border-bottom: 0;
        //     justify-content: space-between;
        //     margin-top: 40px;
        //     .nav-item {
        //         max-height: 49px;
        //         height: 100%;
        //         min-width: 150px;
        //         @media (min-width: 1400px) {
        //             &:nth-child(1) {
        //                 min-width: 155px;
        //             }
        //             &:nth-child(2) {
        //                 min-width: 155px; 
        //             }
        //             &:nth-child(3) {
        //                 min-width: 200px;
        //             }
        //             &:nth-child(4) {
        //                 min-width: 182px;
        //             }
        //         }        
        //     }
        //     .nav-link {
        //         text-align: center;
        //         border: none;
        //         border-radius: 3px;
        //         background-color: rgb(236, 236, 236);
        //         @include text(Montserrat, 16px, 1.563, 600, $mostly-dark-gray);
                
        //     }
        //     .nav-link.active {
        //         background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        //         background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        //         background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        //         color: rgb(245, 244, 242);
        //     }
        // }
    }
    .boutique__description {
        margin-bottom: 57px;
        margin-top: 30px;
        h1 {
            @include text(Montserrat, 20px, 1.5, 700, $mostly-dark-gray);
        }
        .boutique__more {
            @include text(Montserrat, 15px, 19px, 700,rgb(254, 58, 80));
            position: relative;
            margin-top: 25px;
            display: inline-block;
            cursor: pointer;
            &:not([href]):not([tabindex]):focus, &:not([href]):not([tabindex]):hover {
                color: rgb(254, 58, 80);
            }
            &:after {
                position: absolute;
                content: url(../images/boutique__description-arrow.png);
                left: 110%;
                top: 0;
            }
              
        }
        .moreContent {
            height: 100%;
            max-height: 215px;
            overflow: hidden;
            position: relative;
            transition: all .3s ease;
            .content__fadeout {
                position: absolute; 
                bottom: 0em;
                width:100%;
                height: 4em;
                background-image: -moz-linear-gradient( 90deg, rgb(245,244,242) 0%, rgba(255,255,255,0) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(245,244,242) 0%, rgba(255,255,255,0) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(245,244,242) 0%, rgba(255,255,255,0) 100%);
            }
            p {
                @include text(Montserrat, 15px, 1.667, 400, $mostly-dark-gray);
                margin-top: 25px;
                &:nth-child(n+2) {
                    margin-top: 40px;
                }
            }
        }
    }
    .pricesPerProducts {
        .select2-container--default .select2-selection--single {              
            background-color: transparent;
            border: 1px solid rgb(120, 60, 208);;
            border-radius: 25px;
            min-height: 38px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            @include text(Montserrat, 14px, 2.143, 700, $mostly-dark-gray);
            padding-left: 15px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            position: relative;
            b {
                left: unset;
                border-color: rgb(255, 200, 81) transparent transparent transparent;
            }
        }
        .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
            b {
                border-color: transparent transparent rgb(255, 200, 81) transparent;
            }
        }
        .select2-container--default .select2-selection--single .select2-selection__clear {
            display: none;
        }
        h1 { 
            @include text(Montserrat, 20px, 1.5, 700, $mostly-dark-gray);
        }
        .priceList {
            position: relative;
            margin-top: 25px;
            &:after {
                content: url(../images/shadow__right.png);
                position: absolute;
                top: 0;
                left: 100%;
            }
            ul {
                list-style: none;
                max-width: 86%;
                padding-left: 0;
                max-height: 360px;
                overflow: overlay;
                padding-right: 3%;
                li {
                    &:nth-child(odd) {
                        background-color: $base-white-color;
                    }
                    position: relative;
                    min-height: 48px;
                    @include flex(row, wrap, center, space-around);
                    &:before {
                        content: url(../images/circle.png);
                        line-height: 0;
                        left: 1%;
                        position: absolute;
                        
                    }       
                    p {
                        @include text(Montserrat, 13px, 2, 500, rgb(28, 34, 46));
                    }
                    h2 {
                        @include text(Montserrat, 15px, 2, 700, rgb(28, 34, 46));
                    }
                }
            }
        }
    }
    .mallMap {
        h1 {
            @include text(Montserrat, 20px, 1.5, 700, $mostly-dark-gray);
        }
        .zoomMap {
            img {
                width: 100%;
                max-height: 363px;
                height: 363px;
                max-width: 772px;
                margin-top: 25px;
            }
        }       
    }
    .reviews__wrapper {
        background-color: $base-white-color;
        margin-top: 100px;
        padding-top: 100px;
        h1 {
            @include text(Montserrat, 20px, 1.2, 700, $base-black-color);
        }
        .avg--rate {
            @include flex(row, wrap, center, space-between);
            min-width: 40%;
            @media (min-width: 1400px) {
                min-width: 35%;
            }
            p {
                @include text(Montserrat, 14px, 1.2, 700, rgb(134, 134, 134));
                span {
                    color: #783cd0;
                }
            }
            .leave__feedback {
                @include text(Montserrat, 14px, 1.2, 700, rgb(245, 244, 242));
                border: none;
                border-radius: 3px;
                background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                min-width: 179px;
                min-height: 40px;
                transition: all 300ms ease;
                position: relative;
                z-index: 0; 
                outline: none;
                &:before {
                    position: absolute;
                    content: '';
                    width: 0%;
                    height: 100%;
                    background: $base-white-color;
                    top: 0;
                    left: auto;
                    right: 0;
                    z-index: -1;
                    transition: all 300ms ease;
                }
                &:hover {
                    color: rgb(168,68,246);
                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background: $base-white-color;
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                    }
                }  
            }
        }
        .comment--wrapper {
            margin-top: 37px;
            padding-bottom: 20px;
            &:nth-child(n + 3) {
                margin-top: 0;
                padding-top: 37px;
                border-top: 1px solid rgb(240, 240, 240);
            }
            .star-rating__wrapper {
                margin-top: 17px;
            }
            .star-rating__wrapper .star-rating__ico {
                font-size: .8em;
            }
            h2 {
                @include text(Montserrat, 14px, 1.2, 700, $base-black-color);
                span {   
                    color: rgb(109, 109, 109);
                }
            }
            p {
                @include text(Montserrat, 15px, 1.667, 500, $mostly-dark-gray);
                margin-top: 13px;
            }
            .useful__wrapper {
                @include flex(row, wrap, center, space-between);
                span {
                    @include flex(row, wrap, center, space-between);
                    min-width: 44px;
                    font-size: 14px;
                    font-family: "Montserrat";
                    font-weight: 600;
                    line-height: 1.2;
                    &:nth-child(even) {
                        color: rgb(102, 183, 128);
                    }
                    &:nth-child(odd) {
                        color: rgb(182, 51, 92);
                    }
                }
                .liked {
                    border:none;
                    outline: none;
                    border-radius: 50%;
                    background-color: rgb(102, 183, 128);
                    width: 30px;
                    height: 30px;
                    background-image: url(../images/like.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all .3s ease;
                    &:hover {
                        filter: grayscale(.5);
                    }
                }
                .disliked {
                    border:none;
                    outline: none;
                    border-radius: 50%;
                    background-color: rgb(255, 11, 115);
                    width: 30px;
                    height: 30px;
                    background-image: url(../images/dislike.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all .3s ease;
                    &:hover {
                        filter: grayscale(.5);
                    }
                }
            }
        }
    }
    .favorite-boutiques {
        background-color: transparent;
    }
}

@media (max-width: 576px) {
    
    .cardd .slider-for .slick-slide img {
        max-height: 275px;
        min-height: 275px;
    }
    .cardd .slider-nav .slick-slide img {
        max-height: 90px;
        min-height: 90px;
    }
    .cardd .boutique__info-wrapper .share li {
        padding-left: 0;
    }
    .cardd .pricesPerProducts .priceList ul {
        max-width: 100%;
        padding-right: 5%;
    }
    .cardd .pricesPerProducts .priceList ul li:before {
        content: '';
    }
    .cardd .mallMap .zoomMap img {
        height: unset;
    }
    .cardd .pricesPerProducts .priceList:after {
        content: '';
    }
    .cardd .reviews__wrapper h1 {
        margin-left: auto;
        margin-right: auto;
    }
    .cardd .reviews__wrapper .avg--rate {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .cardd .reviews__wrapper .comment--wrapper .star-rating__wrapper {
        margin-top: 5px;
    }
    .mobile__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13px;
    }
    .pricesPerProducts .select2-container {
        margin-top: 0;
    }
    .mallMap {
        margin-top: 1.5rem;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .cardd .boutique__info-wrapper .share {
        flex-direction: column;
        align-items: flex-start;
    }
    .cardd .boutique__info-wrapper .share li {
        padding-left: 0;
    }
    .pricesPerProducts .select2-container {
        margin-top: 0;
    }
    .cardd .boutique__info-wrapper .share li {
        padding-left: 0;
    }
    .cardd .pricesPerProducts .priceList ul {
        max-width: 100%;
        padding-right: 5%;
    }
    
    .cardd .pricesPerProducts .priceList:after {
        content: '';
    }
    .mallMap {
        margin-top: 2.5rem;
    }
    .cardd .reviews__wrapper .avg--rate {
        flex-direction: column;
        height: 100px;
        align-items: flex-end;
    }
    .mobile__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13px;
        
    }
}
@media (min-width:769px) and (max-width: 992px) {
    .cardd .slider-for .slick-slide img {
        max-height: 315px;
        min-height: 315px;
    }
    .cardd .slider-nav .slick-slide img {
        max-height: 100px;
        min-height: 100px;
    } 
    .cardd .boutique__info-wrapper .share li {
        padding-left: 0;
    }
    .pricesPerProducts .select2-container {
        margin-top: 0;
    }
    .cardd .pricesPerProducts .priceList:after {
        content: '';
    }
    .cardd .pricesPerProducts .priceList ul {
        max-width: 90%;
    }
    .mallMap {
        margin-top: 1rem;
    }
    .cardd .mallMap .zoomMap img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cardd .reviews__wrapper .avg--rate {
        min-width: 65%;
    }
    .mobile__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13px;
        
    }
}
@media (min-width: 993px) and (max-width: 1200px) { 
    .cardd .boutique__info-wrapper .share li {
        padding-left: 0;
    }
    .pricesPerProducts .select2-container {
        margin-top: 0;
    }
    .cardd .pricesPerProducts .priceList:after {
        content: '';
    }
    .cardd .pricesPerProducts .priceList ul {
        max-width: 100%;
    }
    .cardd .mallMap .zoomMap img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cardd .reviews__wrapper .avg--rate {
        min-width: 50%;
    }
    .mobile__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13px;
        
    }
}