.contact {
    .flexible {
        @include flex(row, nowrap, stretch, space-between);
        a {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
            text-transform: uppercase;
            transition: all 300ms ease;
            position: relative;
            z-index: 0;
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    height: 7%;
                    width: 0%;
                    background: $bright-red;
                    z-index: -1;
                    transition: all 300ms ease;
                }
            }
            &:hover {
                span {
                    &:before {
                        content: '';
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }   
        }
        span {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
        }
        h4 {
            @include text(Montserrat, 12px, 1.2, 700, $dark-grey);
            text-transform: uppercase;
        }
    }
    .contact__wrapper {
        max-width: 330px;
        
        background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 94%,  transparent 94%);
        background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 94%,  transparent 94%);
        background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 94%,  transparent 94%);
        .contact__details--wrapper {
            box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
            margin-right: 6%;
            position: relative;
            padding-top: 46px;
            padding-bottom: 46px;
            padding-right: 36px;
            padding-left: 22px;
            h1 {
                @include text(Montserrat, 16px, 1.875, 700, rgb(255, 255, 255));
            }
            .leave__message-form {
                margin-top: 25px;
                @include flex(column, wrap, stretch, space-between);
                min-height: 450px;
                input[type="email"], input[type="text"], textarea {
                    @include text(Montserrat, 15px, 1.667, 500, rgb(120, 60, 208));
                    background-color: rgb(255, 255, 255);
                    border: none;
                    padding-left: 25px;
                }
                input {
                    min-height: 50px;
                }
                textarea {
                    padding-top: 10px;
                    min-height: 159px;
                    resize: none;
                    position: relative;  
                }
                .leave__message-btn {
                    @include text(Montserrat, 16px, 3.125, 700, rgb(120, 60, 208));
                    transition: all 300ms ease;
                    background-color: rgb(250, 250, 250);
                    border: none;
                    min-height: 50px;
                    position: relative;
                    z-index: 0;
                    width: 100%; 
                    &:before {
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 100%;
                        background: rgb(120, 60, 208);
                        top: 0;
                        left: auto;
                        right: 0;
                        z-index: -1;
                        transition: all 300ms ease;
                    }
                    &:hover {
                        color: rgb(250, 250, 250);;
                        &:before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            background: rgb(120, 60, 208);
                            top: 0;
                            left: 0;
                            right: 0;
                            z-index: -1;
                        }
                    }
                }
                .consent__wrapper {
                    display: flex;
                    justify-content: space-between;
                    height: 100%;
                    align-items: flex-start;
                    #consent {
                        -webkit-appearance: none;
                        border: 1px solid rgb(202, 214, 223);
                        background-color: rgb(255, 255, 255);
                        width: 14px;
                        height: 14px;
                        min-height: 14px;
                        position: relative;
                        outline: none;
                        
                        &:checked:after {
                            content: "";
                            position: absolute;
                            top: 10%;
                            left: 7%;
                            width: 10px;
                            height: 7px;
                            border-radius: 1px;
                            border-left: 2px solid #91dc5a;
                            border-bottom: 3px solid #91dc5a;
                            transform: rotate(-45deg);
                        }
                    }
                    label {
                        @include text(Montserrat, 13px, 1.538, 400, $base-white-color);
                        max-width: 90%;
                        span {
                            text-decoration: underline;
                        }
                        a {
                            @include text(Montserrat, 13px, 1.538, 400, $base-white-color);
                            text-decoration: underline;
                            
                        }
                          
                    }
                }
            } 
        }
        .contact__details {
            h2 {
                @include text(Montserrat, 15px, 1.667, 400, rgba(255, 255, 255, .6));
            }
            a {
                @include text(Montserrat, 15px, 1.667, 600, rgb(255, 255, 255));
            }
            p {
                @include text(Montserrat, 15px, 1.667, 600, rgb(255, 255, 255));
            }
            &:nth-child(2) {
                margin-top: 23px;
            }
            &:nth-child(3) {
                margin-top: 45px;
            }
        }
        .contact__card {
            position: relative;
            z-index: 100;
            background-color: rgb(120, 60, 208);
            padding-left: 22px;
            padding-right: 22px;
            padding-top: 28px;
            padding-bottom: 28px;
            &:after {
                position: absolute;
                content: '';
                top: 100%;
                right: 0%;
                min-width: 0;
                min-height: 0;
                border-bottom: 20px solid transparent;
                border-left: 20px solid black;
            }
            h2 {
                @include text(Montserrat, 15px, 2, 400, rgba(255, 255, 255, .6));  
            }
            .card__wrapper {
                display: flex;
                justify-content: space-between;
                margin-top: 13px;
                .img__wrapper {
                    border-radius: 50%;
                    background-color: rgb(239, 243, 246);
                    max-width: 45px;
                    max-height: 45px;
                    height: 45px;
                    width: 45px;
                    img {
                        width: 100%;
                        border-radius: 50%;
                        min-height: 45px;
                    }
                }
               
                p {
                    @include text(Montserrat, 15px, 1.667, 600, rgb(255, 255, 255));
                    max-width: 204px;
                }
            }
        }
    }
    .map__wrapper {
        h1 {
            @include text(Montserrat, 24px, 1.2, 700, rgb(33, 33, 33));
        }
        .separator {
            background-color: rgb(120, 60, 208);
            width: 65px;
            height: 6px;
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }
    .mapouter {
        width: 100%;
        height: 100%;
        max-height: 90%;
        .gmap_canvas {
            width: 100%;
            height: 100%;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media (max-width: 576px) {
    .contact .map__wrapper h1 {
        text-align: center;
        margin-top: 15px;
    }
    .contact .mapouter {
        max-height: 60%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .contact .map__wrapper h1 {
        margin-top: 15px;
    }
    .contact .mapouter {
        max-height: 70%;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}