.slick-slide {
    outline: none;
}
.bg-grey {
    background-color: $light-grayish-yellow;
}
.main {
    .flexibleServices {
        @include flex(row, nowrap, stretch, space-between);
        img {
            max-width: 78px;
            max-height: 96px;
        }
        div {
            width: 100%;
            margin-left: 4%;
            h4 {
                @include text(Montserrat, 16px, 1.5, 700, $base-black-color);
                
            }
            p {
                @include text(Montserrat, 14px, 1.714, 500, $very-dark-gray);
            }
        }
    }
    .separator {
        width: 100%;
        border-bottom: 1px solid $very-light-gray;     
    }
    .relative__wrapper {
        position: relative;
        height: 100%;
    }
    .absolute__wrapper-left {
        position: absolute;
        left: 0;
        top:0;
        width: 59px;
        height: 100%;
    }
    .absolute__wrapper-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 59px;
        height: 100%;
    }
    .left-block {
        position: sticky;
        top: 15%;
        max-width: 59px;
        z-index: 1;
        margin-right: auto;
        a {
            border-width: 1px;
            border-color: $very-light-gray;
            border-style: solid;
            background-color: $base-white-color;
            width: 100%;
            height: 59px;
            display: block;
            transition: all 300ms ease;
            &:hover {
                background-color: rgb(249, 249, 249);  
            }
        }
        .playMarket {
            background-image: url("../images/playmarket.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 50%;
        }
        .appStore {
            background-image: url("../images/appstore.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 50%;
        }

    }
    .right-block {
        position: sticky;
        max-width: 59px;
        top: 0;
        z-index: 1;
        margin-left: auto;
        a {
            border-width: 1px;
            border-color: $very-light-gray;
            border-style: solid;
            background-color: $base-white-color;
            width: 100%;
            height: 59px;
            display: block;
            transition: all 300ms ease;
            &:hover {
                background-color: rgb(249, 249, 249);  
            }
            
        }
        .facebook {
            background-image: url("../images/facebook.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 50%;
        }
        .twitter {
            background-image: url("../images/twitter.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 50%;
        }
        .vk {
            background-image: url("../images/vk.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 50%;
        }
        .youtube {
            background-image: url("../images/youtube.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 50%;
        }
        .instagram {
            background-image: url("../images/instagram.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 50%;
        }
        .anchor {
            background-image: url("../images/anchor.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 50%;
            margin-top: 10rem;
            opacity: 0;
            pointer-events: none;
            &.show {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    .geek-block {
        h2 {
            @include text(Montserrat, 36px, 1, 300, rgb(38, 38, 38));
        }
        .geek-recommendation__control-panel {
            @include flex(row, wrap, center, space-between);
            height: 100%;
            .showAll {
                @include text(Montserrat, 18px, 1, 500, rgb(131, 111, 242));
                background: linear-gradient(90deg, $bright-violet 0%, $soft-blue 50%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                  
            }
            ul {
                @include flex(row, nowrap, stretch, space-between);
                padding: 0;
                list-style: none;
                position: relative;
                width: 15%;
                height: 26.1px;
                .prev, .next {
                    position: absolute;
                    cursor: pointer;
                }
                .next {
                    top: 0;
                    right: 0;
                }
                .prev {
                    transform: rotate(180deg);
                    top:-3.5px;
                    left:0;
                }
                .next::before, .prev::before {
                    content: url(../images/geek-recommendation__control-arrow.png);
                }
                .prev::before, .next::before {
                    font-size: 0;
                }
                .prev:hover, .next:hover {
                    filter: grayscale(1);
                }
            }
        }
        
        .geek-recommendation {
            .geek-recommendation__block {
                text-align: center;
                width: 95%;
                .geek-recommendation__inner-block {
                    border-width: 1px;
                    border-color: $very-light-gray;
                    border-style: solid;
                    background-color: #f5f5f4;
                    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.04);
                    padding-bottom: 60px;
                    padding-top: 25px; 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }   
            }
            .slick-slide {
                img {
                    width: 100%;
                    max-height: 184px;
                    min-height: 184px;
                }
                h3 {
                    @include text(Montserrat, 24px, 1, 700, $mostly-dark-gray);
                }
                p {
                    @include text(Montserrat, 16px, 1.5, 400, $very-dark-gray);
                }
                a:last-child {
                    @include text(Montserrat, 12px, 1, 700, $light-red);
                    text-transform: uppercase;
                    padding: 15px 0;
                    border-width: 1px;
                    border-color: $light-red;
                    border-style: solid;
                    border-radius: 3px;
                    display: inline-block;
                    max-height: 52px;
                    width: 85%;
                    margin-top: 17px;
                    margin-bottom: 17px;
                    position: relative;
                    z-index: 0;
                    transition: all 300ms ease;
                    &:hover {
                        border-color: transparent;
                    }
                    &:before {
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 100%;
                        background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                        background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                        background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                        box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                        border-radius: 3px;
                        top: 0;
                        left: auto;
                        right: 0;
                        z-index: -1;
                        transition: all 300ms ease;
                    }
                    &:hover {
                        color: white;
                        &:before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                            background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                            background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                            box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                            top: 0;
                            left: 0;
                            right: 0;
                            z-index: -1;
                              
                        }
                    }
                }
            }
        } 
    }
    .special-block {
        h2 {
            @include text(Montserrat, 36px, 1, 300, $mostly-dark-gray); 
        }
        .hidenAdWrapper {
            @include flex(row, nowrap, center, flex-end);
            height: 100%;
            .hidenAd {
                @include text(Montserrat, 18px, 1, 500, $soft-blue);
                background: linear-gradient(90deg, $bright-violet 0%, $soft-blue 50%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .category-discounts {
        h2 {
            @include text(Montserrat, 36px, 1, 300, $mostly-dark-gray);
        }
        .flexible {
            @include flex(column, nowrap, unset, space-between);
        }
        .category-discounts__control-panel {
            @include flex(row, wrap, center, space-between);
            height: 100%;
            .showAll {
                @include text(Montserrat, 18px, 1, 500, $soft-blue);
                background: linear-gradient(90deg, $bright-violet 0%, $soft-blue 50%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            ul {
                @include flex(row, nowrap, stretch, space-between);
                padding: 0;
                list-style: none;
                position: relative;
                width: 15%;
                height: 26.1px;
                .prev, .next {
                    position: absolute;
                    cursor: pointer;
                }
                .next {
                    top: 0;
                    right: 0;
                }
                .prev {
                    transform: rotate(180deg);
                    top:-3.5px;
                    left:0;
                }
                .next::before, .prev::before {
                    content: url(../images/geek-recommendation__control-arrow.png);
                }
                .prev::before, .next::before {
                    font-size: 0;
                }
                .prev:hover, .next:hover {
                    filter: grayscale(1);
                }
            }
        }
        .category-discounts__left-block {
            background-image: url(../images/category-discount__left-block_bg-img.png);
            background-repeat: no-repeat;
            background-position: 100%;
            background-size: auto;
            padding-bottom: 15px;
            padding-top: 2rem;
            min-height: 100%;
            h4 {
                @include text(Montserrat, 24px, 1, 500, $soft-blue);
                background: linear-gradient(90deg, $bright-violet 0%, $soft-blue 50%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .mobile__text-center {
                img {
                    max-width: 177.667px;
                    max-height: 186px;
                    min-height: 186px;
                    width: 100%;
                    height: 100%;
                }
            }
            
            .flexible {
                @include flex(column, nowrap, stretch, space-between);
                img {
                    max-width: 88.8333px;
                    max-height: 92.4167px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .category-discounts__block {
            width: 95%;
            padding: 10px;
            border-width: 1px;
            border-color: $very-light-gray;
            border-style: solid;
            background-color: $base-white-color;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.04);
            h5 {
                @include text(Montserrat, 14px, 1.2, 500, $soft-blue);
                background: linear-gradient(90deg, $bright-violet 0%, $soft-blue 50%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: .7rem;
            }
            .flexible {
                @include flex(row, nowrap, stretch, space-between);
                img {
                    padding-right: 10px;
                    width: 30%;
                    min-height: 87px;
                    max-height: 87px;
                    max-width: 83px;
                    &:last-child {
                        padding-right: unset;
                    }
                }
            }
        }
    }
    .top-products {
        h2 {
            @include text(Montserrat, 36px, 1, 300, $mostly-dark-gray);
        }
        .flexible {
            @include flex(column, nowrap, unset, space-between);
        }
        .top-products__control-panel {
            @include flex(row, wrap, center, space-between);
            height: 100%;
            .showAll {
                @include text(Montserrat, 18px, 1, 500, $soft-blue);
                background: linear-gradient(90deg, $bright-violet 0%, $soft-blue 50%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            ul {
                @include flex(row, nowrap, stretch, space-between);
                padding: 0;
                list-style: none;
                position: relative;
                width: 15%;
                height: 26.1px;
                .prev, .next {
                    position: absolute;
                    cursor: pointer;
                }
                .next {
                    top: 0;
                    right: 0;
                }
                .prev {
                    transform: rotate(180deg);
                    top:-3.5px;
                    left:0;
                }
                .next::before, .prev::before {
                    content: url(../images/geek-recommendation__control-arrow.png);
                }
                .prev::before, .next::before {
                    font-size: 0;
                }
                .prev:hover, .next:hover {
                    filter: grayscale(1);
                }
            }
        }
        .top-products__block {
            width: 95%;
            padding: 10px;
            .flexible {
                @include flex(column, nowrap, center, space-between);
                img {
                    max-height: 183px;
                    max-width: 182px;
                    min-height: 183px;
                    min-width: 182px;
                }
                p {
                    @include text(Montserrat, 16px, 1.5, 700, $mostly-dark-gray);
                    text-align: center;  
                }
            }
        }
    }
    .popular-products {
        h2 {
            @include text(Montserrat, 36px, 1, 300, $mostly-dark-gray);
        }
        .popular-products__control-panel {
            @include flex(row, wrap, center, space-between);
            height: 100%;
            .showAll {
                @include text(Montserrat, 18px, 1, 500, $soft-blue);
                background: linear-gradient(90deg, $bright-violet 0%, $soft-blue 50%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            ul {
                @include flex(row, nowrap, stretch, space-between);
                padding: 0;
                list-style: none;
                position: relative;
                width: 15%;
                height: 26.1px;
                .prev, .next {
                    position: absolute;
                    cursor: pointer;
                }
                .next {
                    top: 0;
                    right: 0;
                }
                .prev {
                    transform: rotate(180deg);
                    top:-3.5px;
                    left:0;
                }
                .next::before, .prev::before {
                    content: url(../images/geek-recommendation__control-arrow.png);
                }
                .prev::before, .next::before {
                    font-size: 0;
                }
                .prev:hover, .next:hover {
                    filter: grayscale(1);
                }
            }
        }
        .popular-products__block {
            width: 95%;
            min-height: 473px;
            text-align: center;
            border-width: 1px;
            border-color: $very-light-gray;
            border-style: solid;
            background-color: $base-white-color;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.04);
                .flexible {
                    @include flex(column, nowrap, center, space-between);
                    padding-bottom: 60px;
                    padding-top: 25px;
                    img {
                        max-width: 182px;
                        max-height: 183px;
                        min-width: 182px;
                        min-height: 183px;

                    }
                    .popular-products__inner-block {
                        @include flex(column, nowrap, center, space-between);
                        min-height: 203px;
                        width: 100%;
                        h3 {
                            @include text(Montserrat, 16px, 1.5, 700, $mostly-dark-gray);
                            text-align: center;
                            width: 100%;  
                        }
                        p {
                            @include text(Montserrat, 14px, 1.714, 400, $very-dark-gray);
                            text-align: center;
                            margin-top: 17px;
                            max-width: 90%;    
                        }
                        a:last-child {
                            @include text(Montserrat, 12px, 1, 700, $light-red);
                            text-transform: uppercase;
                            padding: 15px 0;
                            border-width: 1px;
                            border-color: $light-red;
                            border-style: solid;
                            border-radius: 3px;
                            display: inline-block;
                            max-height: 52px;
                            width: 85%;
                            margin-top: 17px;
                            margin-bottom: 17px;
                            position: relative;
                            z-index: 0;
                            transition: all 300ms ease;
                            &:hover {
                                border-color: transparent;
                            }
                            &:before {
                                position: absolute;
                                content: '';
                                width: 0%;
                                height: 100%;
                                background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                                border-radius: 3px;
                                top: 0;
                                left: auto;
                                right: 0;
                                z-index: -1;
                                transition: all 300ms ease;
                            }
                            &:hover {
                                color: white;
                                &:before {
                                    position: absolute;
                                    content: '';
                                    width: 100%;
                                    height: 100%;
                                    background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                    background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                    background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                    box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    z-index: -1;
                                      
                                }
                            }
                        }
                    }
                }
            }
        }
        .about-us {
            h2 {
                @include text(Montserrat, 36px, 1, 300, $mostly-dark-gray);
            }
            .about-us__control-panel {
                @include flex(row, wrap, center, space-between);
                height: 100%;
                .showAll {
                    @include text(Montserrat, 18px, 1, 500, $soft-blue);
                    background: linear-gradient(90deg, $bright-violet 0%, $soft-blue 50%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                ul {
                    @include flex(row, nowrap, stretch, space-between);
                    padding: 0;
                    list-style: none;
                    position: relative;
                    width: 15%;
                    height: 26.1px;
                    .prev, .next {
                        position: absolute;
                        cursor: pointer;
                    }
                    .next {
                        top: 0;
                        right: 0;
                    }
                    .prev {
                        transform: rotate(180deg);
                        top:-3.5px;
                        left:0;
                    }
                    .next::before, .prev::before {
                        content: url(../images/geek-recommendation__control-arrow.png);
                    }
                    .prev::before, .next::before {
                        font-size: 0;
                    }
                    .prev:hover, .next:hover {
                        filter: grayscale(1);
                    }
                }
            }
            .about-us__block {
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                height: 471px;
                max-height: 471px;
                div {
                    height: 100%;
                    max-height: 471px;

                }
                iframe {
                    width: 100%;
                    height: 100%;
                    max-height: 471px;
                    
                      
                }
                img {
                    width: 100%;
                }
            }
        }
        .freebie {
            h2 {
                @include text(Montserrat, 36px, 1, 300, $mostly-dark-gray);
            }
            .freebie__control-panel {
                @include flex(row, wrap, center, space-between);
                height: 100%;
                .showAll {
                    @include text(Montserrat, 18px, 1, 500, $soft-blue);
                    background: linear-gradient(90deg, $bright-violet 0%, $soft-blue 50%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                ul {
                    @include flex(row, nowrap, stretch, space-between);
                    padding: 0;
                    list-style: none;
                    position: relative;
                    width: 15%;
                    height: 26.1px;
                    .prev, .next {
                        position: absolute;
                        cursor: pointer;
                    }
                    .next {
                        top: 0;
                        right: 0;
                    }
                    .prev {
                        transform: rotate(180deg);
                        top:-3.5px;
                        left:0;
                    }
                    .next::before, .prev::before {
                        content: url(../images/geek-recommendation__control-arrow.png);
                    }
                    .prev::before, .next::before {
                        font-size: 0;
                    }
                    .prev:hover, .next:hover {
                        filter: grayscale(1);
                    }
                }
            }
            .freebie__block {
                width: 95%;
                min-height: 473px;
                text-align: center;
                border-width: 1px;
                border-color: $very-light-gray;
                border-style: solid;
                background-color: $base-white-color;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.04);
                .flexible {
                    @include flex(column, nowrap, center, space-between);
                    padding-bottom: 60px;
                    padding-top: 25px;
                    img {
                        max-width: 182px;
                        max-height: 183px;
                        min-width: 182px;
                        min-height: 183px;
                    }
                    .freebie__inner-block {
                        @include flex(column, nowrap, center, space-between);
                        min-height: 203px;
                        width: 100%;
                        h3 {
                            @include text(Montserrat, 16px, 1.5, 700, $mostly-dark-gray);
                            text-align: center;
                            width: 100%;  
                        }
                        p {
                            @include text(Montserrat, 14px, 1.714, 400, $very-dark-gray);
                            text-align: center;
                            margin-top: 17px;
                            max-width: 90%;    
                        }
                        a:last-child {
                            @include text(Montserrat, 12px, 1, 700, $light-red);
                            text-transform: uppercase;
                            padding: 15px 0;
                            border-width: 1px;
                            border-color: $light-red;
                            border-style: solid;
                            border-radius: 3px;
                            display: inline-block;
                            max-height: 52px;
                            width: 85%;
                            margin-top: 17px;
                            margin-bottom: 17px;
                            position: relative;
                            z-index: 0;
                            transition: all 300ms ease;
                            &:hover {
                                border-color: transparent;
                            }
                            &:before {
                                position: absolute;
                                content: '';
                                width: 0%;
                                height: 100%;
                                background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                                border-radius: 3px;
                                top: 0;
                                left: auto;
                                right: 0;
                                z-index: -1;
                                transition: all 300ms ease;
                            }
                            &:hover {
                                color: white;
                                &:before {
                                    position: absolute;
                                    content: '';
                                    width: 100%;
                                    height: 100%;
                                    background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                    background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                    background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                                    box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    z-index: -1;
                                      
                                }
                            }
                        }
                    }
                }
            }
        }
    }



@media (max-width: 576px) {
    .main {
        .background-slider {
            .glide_header {
                .glide__slide {
                    h1 {
                        font-size: 30px;
                    }
                    .detailed {
                        max-width: 330px;
                    }
                }
            }
        }
        .flexibleServices {
            display: none;
           flex-direction: column;
           align-items: center;
           margin-top: 1rem;
           
           div {
               text-align: center;
               margin-top: 1.2rem;
           }
        }
        div[class*="__control-panel"] {
            margin-top: 1.5rem;
        }
        .absolute__wrapper-left {
            display: none;
        }
        .absolute__wrapper-right {
            display: none;
        }
        .special-block {
            h2 {
                padding-left: 15px;
                padding-right: 15px;
            }
            .hidenAdWrapper {
                justify-content: flex-start;
                margin-top: 1.5rem;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .special-slider {
            .glide_header {
                .glide__arrow {
                    display: none;
                }
                .glide__slide {
                    h1 {
                        font-size: 30px;
                    }
                    h2 {
                        font-size: 28px;
                        span {
                            position: static;
                            font-size: 100px;
                            line-height: 1.1;
                        }
                    }
                    
                }
            }
        }
       .category-discounts {
            .mobile__column-reverse {
                flex-direction: column-reverse;
            }
            .category-discounts__left-block {
                background-size: cover;
                img {
                    width: unset;
                    max-width: 100%;
                }
                .mobile__text-center {
                    text-align: center;
                }
                .flexible {
                    flex-direction: row;
                    justify-content: space-around;
                    padding-left: 15px !important;
                }
            }
            .category-discounts__slick-02, .category-discounts__slick-01 {
                margin-top: 15px;
            }
            .category-discounts__slick-02 {
                margin-bottom: 15px;
            }
       } 
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .main {
        .background-slider {
            .glide_header {
                .glide__slide {
                    // h1 {
                    //     font-size: 30px;
                    // }
                    .detailed {
                        max-width: 330px;
                    }
                }
            }
        }
        .absolute__wrapper-left {
            display: none;
        }
        .absolute__wrapper-right {
            display: none;
        }
        .relative__wrapper {
            padding-top: 1rem !important;
        }
        .flexibleServices {
            align-items: center;
            margin-top: 2rem;
            img {
                max-width: 82px;
                max-height: 72px;
                width: 100%;
                height: 100%;
            }
        }
        .geek-recommendation__control-panel, .category-discounts__control-panel, .top-products__control-panel, .popular-products__control-panel,
        .about-us__control-panel, .freebie__control-panel {
            align-items: flex-end !important;
        }
        
    }
}  
@media (max-width: 1576px) {
    .main {
        .absolute__wrapper-left {
            max-width: 40px;
        }
        .left-block {
            max-width: 40px;
            a {
                height: 40px;
            }
        }
        .absolute__wrapper-right {
            max-width: 40px;
        }
        .right-block {
            max-width: 40px;
            a {
                height: 40px;
            }
        }
    }
}