.news {
    .flexible {
        @include flex(row, nowrap, stretch, space-between);
        a {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
            text-transform: uppercase;
            transition: all 300ms ease;
            position: relative;
            z-index: 0;
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    height: 7%;
                    width: 0%;
                    background: $bright-red;
                    z-index: -1;
                    transition: all 300ms ease;
                }
            }
            &:hover {
                span {
                    &:before {
                        content: '';
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }   
        }
        span {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
        }
        h4 {
            @include text(Montserrat, 12px, 1.2, 700, $dark-grey);
            text-transform: uppercase;
        }
    }
    .news__wrapper {
        img {
            width: 100%;
            max-width: 426px;
            max-height: 261px;
        }
        .row {
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0px 6px 17px 0px rgba(39, 39, 39, 0.07);
        }
        h1 {
            @include text(Montserrat, 24px, 1.2, 700, rgb(38, 38, 38));
           
        }
        p {
            @include text(Montserrat, 15px, 1.667, 400, rgb(103, 103, 103));
        }
        span {
            @include text(Montserrat, 19.681px,  1.2, 400, rgb(123, 123, 123));
            -moz-transform: matrix( 0.66160972664924,0,0,0.66052918712493,0,0);
            -webkit-transform: matrix( 0.66160972664924,0,0,0.66052918712493,0,0);
            -ms-transform: matrix( 0.66160972664924,0,0,0.66052918712493,0,0);
        }
        .more {
            @include text(Montserrat, 12px, 3, 800, $light-red);
            display: block;
            text-align: center;
            border: none;
            background-color: transparent;
            border-width: 1px;
            border-color: $light-red;
            border-style: solid;
            border-radius: 3px;
            text-transform: uppercase;
            max-width: 188px;
            width: 100%;
            letter-spacing: 2px;
            padding: 0;
            transition: all 300ms ease;
            position: relative;
            z-index: 0; 
            outline: none;
            min-height: 38px;
            
            &:before {
                position: absolute;
                content: '';
                width: 0%;
                height: 100%;
                background: $light-red;
                top: 0;
                left: auto;
                right: 0;
                z-index: -1;
                transition: all 300ms ease;
            }
            &:hover {
                color: white;
                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: $light-red;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
                }
            }
        }
    }
    
}
@media (max-width: 576px) {
    .news .news__wrapper p {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}