.result {
    .category__header {
        @include text(Montserrat, 18px, 1.2, 700, $base-black-color);
    }
    .category-btn__chosen {
        background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
        border-width: 0;   
        color: rgb(245, 244, 242);
        @include text(Montserrat, 14px, 1.2, 400, $dark-grey);
        border-radius: 3px;
        min-height: 36px;
        width: 100%;
        margin-top: 15px;
        outline: none;
        transition: all 300ms ease, border-width 0ms;
        position: relative;
        z-index: 0;
        color: rgb(245, 244, 242);
        &:first-child {
            margin-left: unset;
        }
    }
    .about-boutique__container {
        margin-top: 3rem;
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 17px 0px rgba(39, 39, 39, 0.07);
        .about-boutique__img-wrapper {
            img {
                width: 100%;
                max-width: 449px;
                height: 100%;
                max-height: 299px;
            }
        }
        .about-boutique__info-wrapper {
            padding-top: 32px;
            padding-bottom: 32px;
            .boutique-header {
                @include text(Montserrat, 24px, 1.2, 600, $mostly-dark-gray);
                
            }
            .boutique-title {
                @include text(Montserrat, 16px, 1.2, 500, $dark-gray);                  
            }
            p {
                @include text(Montserrat, 15px, 1.667, 500, $very-dark-gray);
            }
            a {
                @include text(Montserrat, 12px, 1, 700, $light-red);
                text-align: center;
                text-transform: uppercase;
                padding: 15px 0;
                border-width: 1px;
                border-color: $light-red;
                border-style: solid;
                border-radius: 3px;
                display: inline-block;
                max-height: 52px;
                width: 100%;
                position: relative;
                z-index: 0;
                transition: all 300ms ease;
                &:hover {
                    border-color: transparent;
                }
                &:before {
                    position: absolute;
                    content: '';
                    width: 0%;
                    height: 100%;
                    background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                    border-radius: 3px;
                    top: 0;
                    left: auto;
                    right: 0;
                    z-index: -1;
                    transition: all 300ms ease;
                }
                &:hover {
                    color: white;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                        background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                        background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                        box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                          
                    }
                }
            }
        }
    }
}