button, a {
    outline: none;
}
.reviews {
    background: $base-white-color;
    .flexible {
        @include flex(row, nowrap, stretch, space-between);
        a {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
            text-transform: uppercase;
            transition: all 300ms ease;
            position: relative;
            z-index: 0;
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    height: 7%;
                    width: 0%;
                    background: $bright-red;
                    z-index: -1;
                    transition: all 300ms ease;
                }
            }
            &:hover {
                span {
                    &:before {
                        content: '';
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }   
        }
        span {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
        }
        h4 {
            @include text(Montserrat, 12px, 1.2, 700, $dark-grey);
            text-transform: uppercase;
        }
    }
    h1 {
        @include text(Montserrat, 24px, 1.2, 700, $base-black-color);
    }
    .leave__review {
        @include text(Montserrat, 16px, 1.563, 700, rgb(245, 244, 242));
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0,0,0,0);
        border-radius: 3px;
        background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        max-height: 44px;
        height: 44px;
        outline: none;
        width: 100%;
        max-width: 310px;
        transition: all 300ms ease;
        position: relative;
        z-index: 0; 
        &:before {
            position: absolute;
            content: '';
            width: 0%;
            height: 100%;
            background: #f5f5f4;
            top: 0;
            left: auto;
            right: 0;
            z-index: -1;
            transition: all 300ms ease;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;   
        }
        &:hover {
            color: rgb(168,68,246);
            border-color: rgb(168,68,246);
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: #f5f5f4;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1;
            }
        }
    }
    .comment--wrapper {
        margin-top: 37px;
        padding-bottom: 20px;
        &:nth-child(n + 2) {
            margin-top: 0;
            padding-top: 37px;
            border-top: 1px solid rgb(240, 240, 240);
        }
        &:last-child {
            margin-bottom: 50px;
            border-bottom: 1px solid rgb(240, 240, 240);
        }
        .avatar__wrapper {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            max-width: 106px;
            max-height: 106px;
            img {
                
            }
        }
        .avatar__bg {
            background-image: url(../images/avatar.png), -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            background-image: url(../images/avatar.png), -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            background-image: url(../images/avatar.png), -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            background-repeat: no-repeat;
            background-position: center;
        }
        .reviewBy {
            @include flex(row, wrap, stretch, space-between);
        }
        .star-rating__wrapper .star-rating__ico {
            font-size: .8em;
        }
        h2 {
            @include text(Montserrat, 14px, 1.2, 700, $base-black-color);
            span {   
                color: rgb(109, 109, 109);
            }
        }
        p {
            @include text(Montserrat, 15px, 1.667, 500, $mostly-dark-gray);
            margin-top: 13px;
        }
        .useful__wrapper {
            @include flex(row, wrap, center, space-between);
            span {
                @include flex(row, wrap, center, space-between);
                min-width: 44px;
                font-size: 14px;
                font-family: "Montserrat";
                font-weight: 600;
                line-height: 1.2;
                &:nth-child(even) {
                    color: rgb(102, 183, 128);
                }
                &:nth-child(odd) {
                    color: rgb(182, 51, 92);
                }
            }
            .liked {
                border:none;
                outline: none;
                border-radius: 50%;
                background-color: rgb(102, 183, 128);
                width: 30px;
                height: 30px;
                background-image: url(../images/like.png);
                background-repeat: no-repeat;
                background-position: center;
                transition: all .3s ease;
                &:hover {
                    filter: grayscale(.5);
                }
            }
            .disliked {
                border:none;
                outline: none;
                border-radius: 50%;
                background-color: rgb(255, 11, 115);
                width: 30px;
                height: 30px;
                background-image: url(../images/dislike.png);
                background-repeat: no-repeat;
                background-position: center;
                transition: all .3s ease;
                &:hover {
                    filter: grayscale(.5);
                }
            }
        }
    }
    .favorite-boutiques {
        background-color: #f5f5f4;
    }
    .recommended-boutiques {
        background-color: #f5f5f4;
    }
    .leave__review-wrapper {
        background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);  
        padding-top: 47px;
        padding-bottom: 40px;
        .star-rating__ico:hover:before,
        .star-rating__ico:hover ~ .star-rating__ico:before,
        .star-rating__input:checked ~ .star-rating__ico:before
        {
            color: #f89f00;
        }
        h1 {
            @include text(Montserrat, 30px, 1.333, 700, $base-white-color);
        }
        p {
            @include text(Montserrat, 15px, 2.333, 700, $base-white-color);
        }
        input[type="email"],input[type="text"],input[type="tel"], textarea {
            @include text(Montserrat, 15px, 1.667, 500, rgb(33, 33, 33));
            width: 100%;
            border: 1px solid rgb(202, 214, 223);
            background-color: rgb(250, 250, 250);
            box-shadow: inset 1px 1.732px 5px 0px rgba(0, 0, 0, 0.15);
            padding-left: 25px;
            
        }
        input[type="email"],input[type="text"],input[type="tel"] {
            &:valid:not(:placeholder-shown) {
                background-image: url(../images/valid.png);
                background-repeat: no-repeat;
                background-position: 95% 50%
            }
            &:invalid {
                
            }
        }
        input {
            min-height: 48px;
        }
        textarea {
            padding-top: 10px;
            min-height: 78px;
            resize: none;
            position: relative;
        }
        .leave__review-btn {
            @include text(Montserrat, 16px, 3.125, 700, rgb(120, 60, 208));
            transition: all 300ms ease;
            background-color: rgb(250, 250, 250);
            border: none;
            max-width: 218px;
            min-height: 50px;
            position: relative;
            z-index: 0;
            width: 100%; 
            &:before {
                position: absolute;
                content: '';
                width: 0%;
                height: 100%;
                background: rgb(120, 60, 208);
                top: 0;
                left: auto;
                right: 0;
                z-index: -1;
                transition: all 300ms ease;
            }
            &:hover {
                color: rgb(250, 250, 250);;
                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: rgb(120, 60, 208);
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
                }
            }
        }
        .photo__attach {
            @include text(Montserrat, 15px, 1.667, 600, $base-white-color);
            text-decoration: underline;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: relative;
            &:before {
                content: url('../images/metal-paper-clip.png');
                position: absolute;
                right: 100%;
                top: 35%;
            }
            .file {
                display: none;
            }

        }
        .consent__wrapper {
            display: flex;
            justify-content: space-between;
            height: 100%;
            align-items: center;
            #consent {
                -webkit-appearance: none;
                border: 1px solid rgb(202, 214, 223);
                background-color: rgb(255, 255, 255);
                width: 14px;
                height: 14px;
                min-height: 14px;
                position: relative;
                outline: none;
                &:checked:after {
                    content: "";
                    position: absolute;
                    top: 10%;
                    left: 7%;
                    width: 10px;
                    height: 7px;
                    border-radius: 1px;
                    border-left: 2px solid #91dc5a;
                    border-bottom: 3px solid #91dc5a;
                    transform: rotate(-45deg);
                }
            }
            label {
                @include text(Montserrat, 12px, 1.538, 400, $base-white-color);
                @media(max-width: 1700px) {
                    font-size: 10px;
                }
                span {
                    text-decoration: underline;
                }
                a {
                    @include text(Montserrat, 13px, 1.538, 400, $base-white-color);
                    text-decoration: underline;
                    @media(max-width: 1700px) {
                        font-size: 10px;
                    }
                }
                  
            }
        }
    }
}
@media (max-width: 576px) {
    .leave__review-form .star-rating__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .reviews .comment--wrapper .avatar__wrapper {
        height: 106px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .reviews .leave__review {
        margin-top: 15px;
    }
    .reviews .leave__review-wrapper .leave__review-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .reviews .leave__review-wrapper .photo__attach {
        max-width: 180px;
        margin-left: auto;
        margin-right: auto;
    }
    .reviews .leave__review-wrapper .consent__wrapper label {
        font-size: 12px;
    }
    .reviews .leave__review-wrapper .consent__wrapper {
        justify-content: space-around;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .reviews .comment--wrapper .avatar__wrapper {
        height: 106px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .reviews .leave__review-wrapper .photo__attach:before {
        left: 15%;
        top: 15%;
    }
    .reviews .leave__review-wrapper .leave__review-btn {
        margin-bottom: 15px;
    }
}