.star-rating__wrapper {
    display: inline-block;
    font-size: 1rem;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .star-rating__input {
        position: absolute;
        opacity: 0;
    }
    .star-rating__ico {
        float: right;
        padding-left: 2px;
        cursor: pointer;
        color: #e4e4e4;
        line-height: 1.5;
        position: relative;
        &:last-child {
            padding-left: 0;
        }
    }
    .star-rating__checked:before {
        color: #f89f00;
    }
}
.boutique-block {
    @include flex(column, nowrap, center, space-between);
    min-height: 356px;  
    padding-bottom: 16px;       
    border-radius: 3px;
    background-color: #f5f5f4;
    box-shadow: 0px 6px 17px 0px rgba(39, 39, 39, 0.07);
    text-align: center;
    margin-top: 27px;
    transition: all .3s ease;
    height: 100%;
    &:hover {
        box-shadow: 0px 22px 17px 0px rgba(39, 39, 39, 0.17);
    }
    &.boutique-block__list-style {
        min-height: unset;
        display: block;
        padding-bottom: unset;
        max-width: unset;
        img {
            height: 100%;
            max-height: 247px;
        }
        .boutique-header {
            text-align: left;
            -moz-transform: unset;
            -webkit-transform: unset;
            -ms-transform: unset;
        }
        a {
            width: 100%;
            margin-top: unset;
        }
        p {
            -moz-transform: unset;
            -webkit-transform: unset;
            -ms-transform: unset;
            text-align: left;
        }
    }
    img {
        width: 100%;
        min-height: 179px;
        max-height: 179px;
        object-fit: cover;
    }
    .boutique-header {
        @include text(Montserrat, 25.737px, 1.2, 600, rgb(38, 38, 38));
        -moz-transform: matrix( 0.66160972664924,0,0,0.66052918712493,0,0);
        -webkit-transform: matrix( 0.66160972664924,0,0,0.66052918712493,0,0);
        -ms-transform: matrix( 0.66160972664924,0,0,0.66052918712493,0,0);  
        margin-bottom: 1rem; 
    }
    p {
        @include text(Montserrat, 19.681px, 1.2, 400, rgb(103, 103, 103));   
        -moz-transform: matrix( 0.66160972664924,0,0,0.66052918712493,0,0);
        -webkit-transform: matrix( 0.66160972664924,0,0,0.66052918712493,0,0);
        -ms-transform: matrix( 0.66160972664924,0,0,0.66052918712493,0,0);       
    }
    a:first-of-type {
        display:contents;
    }
    a:last-of-type {
        @include text(Montserrat, 12px, 1, 700, $light-red);
        text-transform: uppercase;
        padding: 15px 0;
        border-width: 1px;
        border-color: $light-red;
        border-style: solid;
        border-radius: 3px;
        display: inline-block;
        max-height: 52px;
        width: 85%;
        margin-top: 17px;
        margin-bottom: 17px;
        position: relative;
        z-index: 0;
        transition: all 300ms ease;
        &:hover {
            border-color: transparent;
        }
        &:before {
            position: absolute;
            content: '';
            width: 0%;
            height: 100%;
            background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
            border-radius: 3px;
            top: 0;
            left: auto;
            right: 0;
            z-index: -1;
            transition: all 300ms ease;
        }
        &:hover {
            color: white;
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                top: 0;
                left: 0;
                right: 0;
                z-index: -1;
                  
            }
        }
    }
}
.favorite-boutiques {
    background-color: $base-white-color;
    margin-top: 1rem;
    padding-bottom: 106px;
    .favorite-header {
        @include text(Montserrat, 16px, 2.843, 700, rgb(33, 33, 33));
        text-align: left;             
    }
}
.similar-boutiques {
    background-color: $base-white-color;
    margin-top: 1rem;
    padding-bottom: 106px;
    .favorite-header {
        @include text(Montserrat, 16px, 2.843, 700, rgb(33, 33, 33));
        text-align: left;             
    }
}
.recommended-boutiques {
    background-color: transparent;
    margin-top: 1rem;
    padding-bottom: 106px;
    .favorite-header {
        @include text(Montserrat, 16px, 2.843, 700, rgb(33, 33, 33));
        text-align: left;             
    }
}
.td {
    .flexible {
        @include flex(row, nowrap, stretch, space-between);
        a {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
            text-transform: uppercase;
            transition: all 300ms ease;
            position: relative;
            z-index: 0;
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    height: 7%;
                    width: 0%;
                    background: $bright-red;
                    z-index: -1;
                    transition: all 300ms ease;
                }
            }
            &:hover {
                span {
                    &:before {
                        content: '';
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }   
        }
        span {
            @include text(Montserrat, 12px, 1.2, 700, $bright-red);
        }
        h4 {
            @include text(Montserrat, 12px, 1.2, 700, $dark-grey);
            text-transform: uppercase;
        }
    }
    .td-slider {
        .td-slider__block {
            @include flex(column, nowrap, center, space-around);
            background-color: $base-white-color;
            width: 95%;
            max-width: 227px;
            height: 296px;
            max-height: 296px;
            transition: all 300ms ease;
            margin-top: 21px;
            margin-bottom: 21px;
            &:hover {
                box-shadow: 1.693px 6.792px 21px 0px rgba(0, 0, 0, 0.15);  
            }  
            .td-slider__img-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 93px;
                img {
                    max-width: 164px;
                    max-height: 93px;
                }
            }
            .separator {
                background-color: rgb(159, 86, 217);
                width: 37px;
                height: 2px;    
            }
            h2 {
                @include text(Montserrat, 20px, 1.2, 400, $base-black-color);
                margin-bottom: 1.5rem;
            }
        }
        .slick-prev, .slick-next {
            border-radius: 50%;
            width: 43px;
            height: 43px;
            background-color: $dark-gray;
        }
        .slick-prev {
            left: -6%;
        }
        .slick-next {
            right: -6%;
        }
        .slick-prev::before {
            content: url(../images/td-slider__arrow-left.png);
        }
        .slick-next::before {
            content: url(../images/td-slider__arrow-right.png);
        }
        .slick-prev::before, .slick-next::before {
            font-family: unset;
            font-size: 18px;
            opacity: 1;
        }
        .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
            background-color: unset;
            background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);  
        }
    }

    .category-btn {
        @include text(Montserrat, 14px, 1.2, 400, $dark-grey);
        border-width: 2px;
        border-color: rgb(131, 131, 131);
        border-style: solid;
        border-radius: 3px;
        min-height: 36px;
        width: 100%;
        margin-top: 15px;
        outline: none;
        transition: all 300ms ease, border-width 0ms;
        position: relative;
        z-index: 0;
        &:before {
            position: absolute;
            content: '';
            width: 0%;
            height: 100%;
            background: transparent;
            top: 0;
            left: auto;
            right: 0;
            z-index: -1;
            transition: all 300ms ease, border-width 0ms;
        }
        &:hover {
            color: rgb(245, 244, 242);
            border-width: 0;
            
            box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                top: 0;
                left: 0;
                right: 0;
                z-index: -1;
                border-radius: 3px;
            }
        }
        &:first-child {
            margin-left: unset;
        }
    }
    .category-btn__chosen {
        background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
        box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
        border-width: 0;   
        color: rgb(245, 244, 242);
    }
    .category__header {
        @include text(Montserrat, 18px, 1.2, 700, $base-black-color);
    }
    .filters-block {
        @include flex(row, wrap, center, unset);
        background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 50%, rgb(112,135,241) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 50%, rgb(112,135,241) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 50%, rgb(112,135,241) 100%);
        width: 100%;
        max-height: 109px;
        height: 109px;
        .sort-by {
            @include text(Montserrat, 14px, 1.2, 600, $base-white-color);
            height: 100%;
            width: 100%;
        }
        .filter__wrapper {
            @include flex(row, wrap, flex-start, space-between);
            padding-left: 0;
            list-style-type: none;
        }
        .filter-btn {
            @include text(Montserrat, 14px, 1.2, 600, $base-white-color);
            background-color: transparent;
            outline: none;
            border: unset;
            width: 100%;
            height: 100%;
            display: block;
            background-image: url('../images/filters-arrow.png');
            background-position: 0% 50%;
            background-size: 0%;
            background-repeat: no-repeat;
            transition: all .3s ease;
            text-align: left;
            padding-right: 0;
            padding-left: 12px;
            &:hover {
                background-size: 7px;
                color: #ffc851;
            }
        }
        .top-products {
            color: #dce4e8;
        }
        .filter-btn__chosen {
            background-image: url('../images/filters-arrow.png');
            background-position: 0% 50%;
            background-size: 7px;
            background-repeat: no-repeat;
            color: #ffc851;
        }
        .search-form {
            @include flex(row, nowrap, stretch, space-between);
            background-color: transparent;
            border-width: 1px;
            border-color: $base-white-color;
            border-style: solid;
            border-radius: 24px;
            max-height: 46px;
            .search-field {
                @include text(Montserrat, 14px, 1.2, 500, rgb(244, 244, 242));
                text-align: left;
                border: none;
                border-radius: 24px;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;  
                background-color: transparent;
                padding: 10px 0 10px 20px;
                width: 100%;
                border-right: 1px solid rgb(220, 228, 232);
                outline: none;
                .search-field:placeholder {
                    color: rgb(244, 244, 242);
                }
            }
            .search-btn {
                width: 60px;
                background-image: url(../images/finder2.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;
                border: none;
                outline: none;
                background-color: transparent;
                border-bottom-right-radius: 24px;
                border-top-right-radius: 24px;
            } 
        }
        .list-grid_wrapper {
            @include flex(row, wrap, center, space-around);
            height: 100%;
            .grid-btn, .list-btn {
                display: block;
                border: none;
                outline: none;
                background-color: transparent;
                color: $base-white-color;
                max-width: 18px;
                max-height: 18px;
                transition: all .3s ease;
                cursor: pointer;
                &:hover {
                    color: #ffc851;
                }
            }
            .active {
                color: #ffc851 !important;
            }
        }
        .clear-filter {
            @include text(Montserrat, 14px, 1.2, 600, $base-white-color);
            background-color: transparent;
            outline: none;
            border: unset;
            width: 100%;
            height: 100%;
            display: block;
            padding: 0;
            transition: all .3s ease;
            &:hover {
                color: #ffc851;
            }
        }
        .separator {
            border-left: 1px solid rgba(220, 228, 232, .35);
        }
    }
    .about-boutique__container {
        margin-top: 3rem;
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 17px 0px rgba(39, 39, 39, 0.07);
        .about-boutique__img-wrapper {
            img {
                width: 100%;
                max-width: 449px;
                height: 100%;
                max-height: 299px;
            }
        }
        .about-boutique__info-wrapper {
            padding-top: 32px;
            padding-bottom: 32px;
            .boutique-header {
                @include text(Montserrat, 24px, 1.2, 600, $mostly-dark-gray);
                
            }
            .boutique-title {
                @include text(Montserrat, 16px, 1.2, 500, $dark-gray);                  
            }
            p {
                @include text(Montserrat, 15px, 1.667, 500, $very-dark-gray);
            }
            a {
                @include text(Montserrat, 12px, 1, 700, $light-red);
                text-align: center;
                text-transform: uppercase;
                padding: 15px 0;
                border-width: 1px;
                border-color: $light-red;
                border-style: solid;
                border-radius: 3px;
                display: inline-block;
                max-height: 52px;
                width: 100%;
                position: relative;
                z-index: 0;
                transition: all 300ms ease;
                &:hover {
                    border-color: transparent;
                }
                &:before {
                    position: absolute;
                    content: '';
                    width: 0%;
                    height: 100%;
                    background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                    box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                    border-radius: 3px;
                    top: 0;
                    left: auto;
                    right: 0;
                    z-index: -1;
                    transition: all 300ms ease;
                }
                &:hover {
                    color: white;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                        background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                        background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
                        box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                          
                    }
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .td .filters-block .filter-btn {
        background-image: unset;
    }
    .col-4 {
        display: flex;
    }
    .td .filters-block .list-grid_wrapper {
        display: none;
    }
    .td .filters-block .clear-filter {
        display: none;
    }
    .td .filters-block .filter-btn {
        padding-left: 0;
    }
    .td .filters-block .sort-by {
        text-align: center;
        margin-top: 8px;
    }
    .td .filters-block .filter__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .td .filters-block {
        max-height: unset;
        height: unset;
    }
    .td .filters-block .search-form {
        margin-top: 5px;
        margin-bottom: 8px;
    }
    .td {
        .boutique-block {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .td-slider {
            .td-slider__block {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .about-boutique__container {
            .about-boutique__img-wrapper {
                img {
                    height: 100%;
                    width: 100%;
                    max-height: 227px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .about-boutique__info-wrapper {
                .boutique-header {
                    text-align: center;
                }
                .boutique-title {
                    text-align: center;
                }
                p {
                    text-align: center;
                }
                a {
                    max-width: 85%;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }
        }
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    
    .td .filters-block .clear-filter {
        display: none;
    }
    .td .filters-block .filter__wrapper {
        margin-bottom: 10px;
    }
    .td {
        
        .td-slider {
            .td-slider__block {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .about-boutique__container {
            .about-boutique__img-wrapper {
                img {
                    height: 100%;
                    width: 100%;
                    max-height: 227px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .about-boutique__info-wrapper {
                .boutique-header {
                    text-align: center;
                }
                .boutique-title {
                    text-align: center;
                }
                p {
                    text-align: center;
                }
                a {
                    max-width: 85%;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }
        }
    }
}
@media (min-width:769px) and (max-width: 992px) { 
    .td {
        
        .td-slider {
            .td-slider__block {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .about-boutique__container {
            .about-boutique__img-wrapper {
                img {
                    height: 100%;
                    width: 100%;
                    max-height: 227px;
                }
            }
        }
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .td {
        
        .td-slider {
            .td-slider__block {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
@media (max-width: 1976px) {
    .td {
        .td-slider {
            .slick-prev {
                left: -30px;
                z-index: 1;
            }
            .slick-next {
                right: -30px;
                z-index: 1;
            }
        }
    }
}

.link-table{
    width: 50% !important;
    margin-right: 2rem;
}
.art{
        display: flex;
        align-items: center;
        width: fit-content;
}