.tour {
    overflow-x: hidden;
    .achivements {
        background-image: url('../images/tour__achivements.png');
        background-repeat: no-repeat;
        background-position: 100% 0%;
        background-color: $base-white-color;
        background-size: contain;
        padding-top: 3rem;
        padding-bottom: 4.5rem;
        .separator {
            background-color: rgb(231, 55, 76);
            width: 1px;
            margin-left: 2rem;
            margin-right: 2rem;
        }      
        .flexible {
            @include flex(row, nowrap, stretch, space-between);
            margin-bottom: 1.5rem;
            a {
                @include text(Montserrat, 12px, 1.2, 700, $bright-red);
                text-transform: uppercase;
                transition: all 300ms ease;
                position: relative;
                z-index: 0;
                span {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: auto;
                        right: 0;
                        height: 7%;
                        width: 0%;
                        background: $bright-red;
                        z-index: -1;
                        transition: all 300ms ease;
                    }
                }
                &:hover {
                    span {
                        &:before {
                            content: '';
                            width: 100%;
                            left: 0;
                            right: 0;
                        }
                    }
                }   
            }
            span {
                @include text(Montserrat, 12px, 1.2, 700, $bright-red);
            }
            h4 {
                @include text(Montserrat, 12px, 1.2, 700, $dark-grey);
                text-transform: uppercase;
            }
        }
        h1 {
            @include text(Montserrat, 26px, 1.346, 700, $mostly-dark-gray);
            max-width: 409px;
            span {
                color: $soft-red;
            }
        }
        p {
            @include text(Montserrat, 15px, 1.667, 400, $mostly-dark-gray);
        }
    }
    .filters-block {
        background-image: -moz-linear-gradient( 0deg, $bright-violet 35%, $soft-blue 100%);
        background-image: -webkit-linear-gradient( 0deg, $bright-violet 35%, $soft-blue 100%);
        background-image: -ms-linear-gradient( 0deg, $bright-violet 35%, $soft-blue 100%);
        background-size: 150% 150%;
        -webkit-animation: multicolorsAnimation 6s ease infinite;
        -moz-animation: multicolorsAnimation 6s ease infinite;
        animation: multicolorsAnimation 6s ease infinite;
        .filters-confirm__bc {
            position: absolute;
            background-color: $moderate-violet;
            width: 200%;
            height: 100%;
            left: -100%;
            right: 0;
        }
        .filters-confirm__block {
            @include flex(column, wrap, stretch, unset);
            padding: 1.5rem 0;
            position: relative;
            opacity: 1;
            transition: all .3s ease;
           
            .filters-question__block {
                @include flex(row, wrap, stretch, space-between);
                width: 85%;
                div {
                    @include flex(row, wrap, flex-end, space-between);
                    min-width: 90px;
                }
                h2 {
                    @include text(Montserrat, 20px, 1.2, 700, $base-white-color);                   
                }
                .isCity {
                    @include text(Montserrat, 15px, 1.1, 500, $base-white-color);
                    border-bottom: 1px dashed $base-white-color;
                }
            }
            .filters-answer__block {
                @include flex(row, wrap, center, start);
                margin-top: .7rem;
                &.hide {
                    opacity: 0;
                    transition: all .3s ease;
                    pointer-events: none;
                }
                .separator {
                    background-color: $base-white-color;
                    width: 1px;
                    height: 18px;
                    margin-left: 1rem;
                    margin-right: 1rem;    
                }
                .rightCity, .wrongCity {
                    @include text(Montserrat, 15px, 1.667, 500, $base-white-color);
                    background-color: transparent;
                    border: none;
                    outline: none;
                    transition: all .3s ease;
                    padding: 0;
                    &:hover {
                        color: rgb(255, 200, 81);
                    }
                }           
            }
        }
        
        .yourLocation {
            opacity: 0;
            transition: all .3s ease;
            pointer-events: none;
            &.show {
                opacity: 1;
                pointer-events: all;
            }
        }
        .select2-container--default .select2-selection--single {              
            background-color: transparent;
            border: 1px solid $base-white-color;
            border-radius: 25px;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;
        }
        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            @include text(Montserrat, 15px, unset, 700, $base-white-color);
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            @include text(Montserrat, 15px, unset, 700, $base-white-color);
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            position: relative;
            b {
                left: unset;
                border-color: rgb(255, 200, 81) transparent transparent transparent;
            }
        }
        .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
            b {
                border-color: transparent transparent rgb(255, 200, 81) transparent;
            }
        }
        .select2-container--default .select2-selection--single .select2-selection__clear {
            display: none;
        }
        .separator {
            border-left: 1px solid rgba(220, 228, 232, 0.35);
        }
        .clear-filter {
            font-family: Montserrat;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 600;
            color:#fff;
            background-color:
            transparent;
            outline: none;
            border: unset;
            width: 100%;
            height: 100%;
            display: block;
            padding: 0;
            transition: all .3s ease;
            text-align: left;
        }   
    }
    .boutique__container {
        .boutique-block {
            @include flex(column, nowrap, center, space-around);
            background-color: $base-white-color;
            height: 296px;
            max-height: 296px;
            transition: all 300ms ease;
            margin-top: 21px;
            margin-bottom: 21px;
            cursor: pointer;
            &:hover {
                box-shadow: 1.693px 6.792px 21px 0px rgba(0, 0, 0, 0.15);  
            }
            .boutique-img__wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 93px;
            } 
            .separator {
                background-color: rgb(159, 86, 217);
                width: 37px;
                height: 2px;    
            }
            h2 {
                @include text(Montserrat, 20px, 1.2, 400, $base-black-color);
            }
            p {
                @include text(Montserrat, 14px, 1.786, 400, $mostly-dark-gray);
            }
            .star-rating__wrapper {
                display: inline-block;
                font-size: 1rem;
                margin-bottom: 1.5rem;
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                .star-rating__input {
                    display: none;
                }
                .star-rating__ico {
                    float: right;
                    padding-left: 2px;
                    cursor: pointer;
                    color: #e4e4e4;
                    &:last-child {
                        padding-left: 0;
                    }
                }
                .star-rating__checked:before {
                    color: #f89f00;
                }
            }
        }
    }
    .slider-for {
        margin-bottom: -50px;
        .slick-slide {
            img {
                width: 100%;
                max-width: 583px;
                max-height: 359px;

            }
        }
    }
    .slider-nav {
        .slick-prev, .slick-next {
            border-radius: unset;
            background-color: unset;
            border: none;
            width: 43px;
            height: 43px;
        }
        .slick-prev, .slick-next {
            top: 80%;
        }
        .slick-prev {
        }
        .slick-next {
        }
        .slick-prev::before {
            content: url(../images/tour-arrow_left.png);
        }
        .slick-next::before {
            content: url(../images/tour-arrow_right.png);
        }
        .slick-slide {
            img {
                width: 88%;
                margin-left: auto;
                margin-right: auto;
                max-width: 148px;
                max-height: 90px;
            }
        }
    }
    .tour__info { 
        h1 {
            @include text(Montserrat, 24px, 1, 700, $mostly-dark-gray);
            span {
                color: $bright-red;
            }  
        }
        span{
            font-family: Montserrat;
            font-size: 16px !important;
        }
        ul{
            padding: 0;
            li{
                list-style-type: none;
                font-family: Montserrat;
                font-size: 14px !important;
            }
        }
        
        p {
            @include text(Montserrat, 14px, 1.5, 500, $mostly-dark-gray);
            margin-top: 0.7rem;
            span {
                font-weight: 700;
            }
            
            &:nth-of-type(n+3) {
                text-indent: 1rem;
            }
        }
        .signUp {
            @include text(Montserrat, 16px, 1.563, 700, rgb(245, 244, 242));
            border: 1px solid rgba(0,0,0,0);
            border-radius: 3px;

            background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
            max-height: 49px;
            height: 49px;
            outline: none;
            width: 100%;
            max-width: 310px;
            margin-top: 1.9rem;
            transition: all 300ms ease;
            position: relative;
            z-index: 0; 
            &:before {
                position: absolute;
                content: '';
                width: 0%;
                height: 100%;
                background: #f5f5f4;
                top: 0;
                left: auto;
                right: 0;
                z-index: -1;
                transition: all 300ms ease;
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;   
            }
            &:hover {
                color: rgb(168,68,246);
                border-color: rgb(168,68,246);
                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: #f5f5f4;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
                }
            }
        }
        .tour__info-contacts {
            @include flex(row, wrap, unset, unset);
            margin-top: 1.9rem;
            ul {
                @include flex(row, wrap, stretch, space-between);
                list-style: none;
                padding-left: unset;
                &:last-child {
                    margin-left: 6rem;
                }
                li {
                    @include text(Montserrat, 17px, 1.471, 600, rgb(76, 76, 76));
                    a {
                        position: relative;
                        color: $bright-red;
                        margin-left: 15px;
                        transition: all 300ms ease;
                        &:after {
                            content: url(../images/whatsapp.png);
                            position: absolute;
                            right: -30px;
                            top: -2px;
                        }
                        &:hover {
                            filter: grayscale(.4);
                        }
                    }
                      
                }
            }
        }
    }
    .schedule {
        background-image: url(../images/tour__schedule-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 70px;
        .schedule__left-block {
            padding-top: 25px;
            background-image: url(../images/tour__schedule_left-block-bg.png);
            background-position: 0 100%;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            
            h1 {
                @include text(Montserrat, 32px, 1.406, 700, $base-white-color);
                position: relative;
                &:after {
                    content: url(../images/tour__schedule-arrow.png);
                    position: absolute;
                    bottom: -60px;
                    right: -50px;
                    z-index: 100;
                }
            }
        }
        .schedule__right-block {
            background-image: linear-gradient(180deg, rgba(0,0,0,0) 3.5%, $base-white-color 3.5%, $base-white-color 100%);
            margin-bottom: 3rem;
            min-height: 764px;
            h1 {
                @include text(Montserrat, 45px, 1.2, 700, rgb(89, 150, 240));
                background: linear-gradient(90deg, $soft-violet, $soft-blue);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: center;
            }
            .schedule__content-wrapper {
                min-height: 710px;
                padding-top: 30px;
                max-width: 85%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                h2 {
                    @include text(Montserrat, 20px, 1.5, 700, rgb(56, 56, 56));
                }
                ul {
                    margin-top: 1rem;
                    padding-left: 0;
                    list-style: none;
                    padding-bottom: 2.5rem;
                    li {
                        @include text(Montserrat, 19px, 1.5, 400, rgb(38, 38, 38));
                        display: inline-block;
                        position: relative;
                        padding-left: 2rem;
                        padding-bottom: 1rem;
                        &:before {
                            content: url(../images/tour-list__img.png);
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                        &:first-letter {
                            color: rgb(56, 56, 56);
                            font-weight: 700;
                        }
                        p {
                            @include text(Montserrat, 19px, 1.5, 400, rgb(38, 38, 38));
                            margin-top: unset !important;
                            &:last-of-type {
                                padding-bottom: unset !important;
                            }
                            span {
                                color: rgb(56, 56, 56);
                                font-weight: 700;
                            }
                        }
                    }
                }
                .bottom__line {
                    position: absolute;
                    bottom: 0;
                    height: 4px;
                    width: 100%;
                    border-bottom: 4px solid rgb(231, 55, 76);
                      
                }
                .separator {
                    border-bottom: 1px solid rgb(236, 236, 236);
                    margin-top: 2rem;
                }
                p {
                    @include text(Montserrat, 14px, 2, 400, rgb(38, 38, 38));
                    margin-top: 2rem;
                    &:last-of-type {
                        padding-bottom: 5rem;
                    }
                }
                h3 {
                    @include text(Montserrat, 24px, 1, 700, $soft-violet);
                    sup {
                        font-size: 10px;
                        top: -1em;
                        left: .5em;
                    }
                }
            }
        }
    }
    .tour__program {
        background-image: linear-gradient(180deg, #f5f5f4 90%, $base-white-color 90%, $base-white-color);
        h1 {
            @include text(Montserrat, 24px, 1.042, 700, rgb(38, 38, 38));
        }
        ul {
            list-style: none;
            padding-left: 0;
            margin-top: 1.5rem;
            li {
                position: relative;
                padding-left: 2rem;
                margin-top: .5rem;
                &:before {
                    content: url(../images/tour-program-list__img.png);
                    position: absolute;
                    left: 0;
                    top: 7%;
                }
                p {
                    @include text(Montserrat, 15px, 1.333, 400, rgb(38, 38, 38));
                    span {
                        color: rgb(56, 56, 56);
                        font-weight: 700;
                    } 
                }
            }
        }
        .mapouter {
            width: 100%;
            height: 100%;
            max-height: 527px;
        }
        .gmap_canvas {
            width: 100%;
            height: 100%;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
        .row {
            &:nth-child(2) { 
                margin-top: 3rem;
                p {
                    @include text(Montserrat, 20px, 1.5, 500, rgb(38, 38, 38));
                    text-align: center;
                }
            }
            &:nth-child(3) {
                margin-top: 3rem;
            }
        }       
    }
    .favorite-boutiques {
        margin-top: unset;
        padding-top: 3rem;
    }
}
.select2-container--open .select2-dropdown--below {
    top: 7px;
}
.select2-dropdown {
    border-radius: 3px;
    background-color: $base-white-color;
    box-shadow: 0px 2px 29px 0px rgba(50, 25, 86, 0.28);
    border: none;
}
.select2-container--open .select2-dropdown--below {
    border-radius: 3px !important;
}
.select2-results__options {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;    
}
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: transparent;
}
.select2-results__option {
    @include text(Montserrat, 15px, 2, 500, #606060);
    transition: all .3s ease;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: transparent;
    color: rgb(120, 60, 208);
    text-decoration: underline;
}

@media (max-width: 576px) {
    .tour .achivements {
        background-image: none;
    }
    .select2-container {
        margin-top: 15px;
    }
    .tour .filters-block .clear-filter {
        margin-top: 15px;
        text-align: center;
        margin-bottom: 15px;
    }
    .tour .tour__info h1 {
        margin-top: 15px;
    }
    .tour .tour__info .tour__info-contacts {
        flex-direction: column;
    }
    .tour .tour__info .tour__info-contacts ul:last-child {
        margin-left: 0;
    }
    .tour .tour__info .tour__info-contacts ul li a {
        margin-left: 0;
    }
    .tour .tour__info .tour__info-contacts ul {
        flex-direction: column; 
    }
    .tour .schedule .schedule__left-block h1:after {
        display: none;
    }
    .tour .schedule .schedule__left-block {
        background: none;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .select2-container {
        margin-top: 15px;
    }
    .tour .filters-block .clear-filter {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .tour .tour__info h1 {
        margin-top: 15px;
    }
    .tour .tour__info .tour__info-contacts ul:last-child {
        margin-left: 0;
    }
    .tour .tour__info .tour__info-contacts ul li a {
        margin-left: 0;
    }
    .tour .tour__info .tour__info-contacts ul {
        flex-direction: column; 
    }
    .tour .tour__info .tour__info-contacts {
        justify-content: space-between;
    }
    .tour .schedule .schedule__left-block {
        background-position: 100% 100%;
    }
    .tour .schedule .schedule__left-block h1:after {
        display: none;
    }
}
@media (min-width:769px) and (max-width: 992px) {   
    .select2-container {
        margin-top: 15px;
    }
    .tour .filters-block .clear-filter {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .tour .tour__info .tour__info-contacts ul li a:after {
        display: none;
    }
    .tour .tour__info .tour__info-contacts ul:last-child {
        margin-left: 0;
    }
    .tour .tour__info .tour__info-contacts ul li a {
        margin-left: 0;
    }
    .tour .tour__info .tour__info-contacts ul {
        flex-direction: column; 
    }
    .tour .tour__info .tour__info-contacts {
        justify-content: space-between;
    }
    .tour .schedule .schedule__left-block {
        background-position: 100% 100%;
    }
    .tour .schedule .schedule__left-block h1:after {
        display: none;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .tour .tour__info .tour__info-contacts ul:last-child {
        margin-left: 0;
    }
    .tour .tour__info .tour__info-contacts {
        flex-direction: column;
    }
    .tour .tour__info .tour__info-contacts ul {
        justify-content: unset;
    }
}