.main {
    .background-slider {
        display: block;
        width: 100%;
        height: 688px;
        .glide_header {
            height: 100%;
            .glide__slide {
                height: 100%;
                background-image: url("../images/main__slider_bg-01.png") !important;
                background-size: cover !important;
                background-repeat: no-repeat;
                background-position: center;
                h1 {
                    @include text(Montserrat, 52px, 1.154, 700, rgb(255,255,255));
                    margin-top: 5rem;
                }
                p {
                    @include text(Montserrat, 16px, 1.875, 400, rgb(235,235,235));
                    margin-top: 3rem;
                }
                .detailed {
                    @include text(Montserrat, 12px, 5, 700, rgb(255, 58, 82));    
                    text-transform: uppercase;
                    border: 1px solid rgb(255,58,82);
                    border-radius: 3px;
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    margin-top: 3rem;
                    position: relative;
                    z-index: 0;
                    transition: all 300ms ease;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 0%;
                        background-color: rgb(255,58,82);
                        top: 0;
                        left: 50%;
                        z-index: -1;
                        transition: all 0ms ease;
                    }
                    &:hover {
                        color: white;
                        &:before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: rgb(255, 58, 82);
                            top: 0;
                            left: 0%;
                            z-index: -1;
                            transition: all 300ms ease;
                        }
                    }
                }
                .container{
                    display: none;
                }
            }
            .glide__track {
                height: 100%;
                .glide__slides {
                    height: 100%;
    
                }
            }
            .glide__bullets {
			    justify-content: space-around;
                .glide__bullet {
                    margin: 0 2% !important;
                    width: 49px;
                    height: 6px;
                    background-color: transparent;
                    transition: all .3s;
                    padding: 0;
                    border: 1px solid rgb(255, 58, 82);
                    border-radius: 3px;     
                }
                .glide__bullet--active {
                    background-color: rgb(255, 58, 82);
                }
                  
            }
        }
    }
    .special-slider {
        display: block;
        width: 100%;
        height: 534px;
        .container {
            max-width: 1000px;
        }
        .glide_header {
            height: 100%;
            .glide__slide {
                height: 100%;
                background-image: url("../images/special__slider_bg-01.png") !important;
                background-size: cover !important;
                background-repeat: no-repeat;
                background-position: center;
                h1 {
                    @include text(Montserrat, 52px, 1.154, 700, rgb(255,255,255));
                    margin-top: 5rem;
                    letter-spacing: 2px;
                }
                h2 {
                    
                    @include text(Montserrat, 48px, 1.25, 300, rgb(255,255,255));
                    position: relative;
                    span {
                            position: absolute;
                            right: 0;
                            top: 0;
                            font-size: 200px;
                            font-weight: bold;
                            line-height: 0.9;
                    }                      
                }
                p {
                    @include text(Montserrat, 16px, 1.875, 400, rgb(235,235,235));
                    margin-top: 3rem;
                }
                .detailed {
                    @include text(Montserrat, 12px, 5, 700, rgb(255, 58, 82));    
                    text-transform: uppercase;
                    border: 1px solid rgb(255,58,82);
                    border-radius: 3px;
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    margin-top: 3rem;
                    position: relative;
                    z-index: 0;
                    transition: all 300ms ease;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 0%;
                        background-color: rgb(255,58,82);
                        top: 0;
                        left: 50%;
                        z-index: -1;
                        transition: all 0ms ease;
                    }
                    &:hover {
                        color: white;
                        &:before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: rgb(255, 58, 82);
                            top: 0;
                            left: 0%;
                            z-index: -1;
                            transition: all 300ms ease;
                        }
                    }
                }
            }
            .glide__track {
                height: 100%;
                .glide__slides {
                    height: 100%;
    
                }
            }
            .glide__bullets {
			    justify-content: space-around;
                .glide__bullet {
                    margin: 0 2% !important;
                    width: 49px;
                    height: 6px;
                    background-color: transparent;
                    transition: all .3s;
                    padding: 0;
                    border: 1px solid rgb(255, 255, 255);
                    border-radius: 3px;       
                }
                .glide__bullet--active {
                    background-color: rgb(255, 255, 255);
                }
                  
            }
            .glide__arrow {
                border: unset;
                box-shadow: unset;
            }
            .glide__arrow--left::before {
                content: url(../images/special__slider_left-arrow.png);
            }
            .glide__arrow--right::after {
                content: url(../images/special__slider_right-arrow.png);
                
            }
        }
    }
}