.footer {
  background-color: rgb(23, 23, 23);
  padding-top: 50px;
  padding-bottom: 40px;
  margin-top: 6rem;
  h5 {
    @include text(Montserrat, 12px, 3.5, 700, $base-white-color);
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  p {
    @include text(Montserrat, 13px, 1.429, 400, $gray);
    span {
      color: rgb(255, 255, 255);
    }
  }
  .phoneNumber {
    @include text(Montserrat, 20px, 1.5, 400, $base-white-color);
  }
  .callOrder {
    @include text(Montserrat, 12px, 3, 700, $light-red);
    border: none;
    color: #832fd1;
    background-color: transparent;
    border-width: 1px;
    border-color: #832fd1;
    border-style: solid;
    border-radius: 3px;
    text-transform: uppercase;
    max-width: 200px;
    width: 100%;
    margin-top: 1rem;
    letter-spacing: 2px;
    padding: 0;
    transition: all 300ms ease;
    position: relative;
    z-index: 0;
    outline: none;
    &:before {
      position: absolute;
      content: "";
      width: 0%;
      height: 100%;
      background-image: -moz-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
      background-image: -webkit-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
      background-image: -ms-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
      box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
      top: 0;
      left: auto;
      right: 0;
      z-index: -1;
      transition: all 300ms ease;
    }
    &:hover {
      color: white;
      border-color: transparent;
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-image: -moz-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
        background-image: -webkit-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
        background-image: -ms-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
        box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }
  }
  .footer__nav {
    @include flex(column, nowrap, stretch, space-between);
    list-style: none;
    padding-left: 0;
    li {
      a {
        @include text(Montserrat, 14px, 2.143, 400, $gray);
      }
    }
  }
  .subscription__form {
    display: flex;
    width: 100%;
    .subscription__value {
      @include text(Montserrat, 16px, unset, 400, $mostly-dark-gray);
      border: unset;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      background-color: $base-white-color;
      outline: none;
      width: 100%;
      padding-left: 15px;
    }
    .subscription__button {
      @include text(Montserrat, 14px, 3.5, 700, rgb(245, 245, 245));
      outline: none;
      border: unset;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      background-color: #3F47CE;
      //   border-left: 1px solid $light-red;
      padding-left: 35px;
      padding-right: 35px;
      transition: all 0.4s ease;
      letter-spacing: 1.7px;
      text-transform: uppercase;
      transition: all 300ms ease;
      position: relative;
      z-index: 0;
      &:before {
        position: absolute;
        content: "";
        width: 0%;
        height: 100%;
        background-image: -moz-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
        background-image: -webkit-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
        background-image: -ms-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
        box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
        top: 0;
        left: auto;
        right: 0;
        z-index: -1;
        transition: all 300ms ease;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
      }
      &:hover {
        color: #fff;
        border-color: transparent;
        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background-image: -moz-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
          background-image: -webkit-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
          background-image: -ms-linear-gradient(0deg, rgb(168, 68, 246) 0%, rgb(112, 135, 241) 100%);
          box-shadow: 1.693px 6.792px 21px 0px rgba(125, 51, 183, 0.38);
          top: 0;
          left: 0;
          right: 0;
          z-index: -1;
        }
      }
    }
  }
  .social__btns {
    @include flex(row, nowrap, stretch, space-between);
    list-style: none;
    padding-left: 0;
    max-width: 350px;
    li {
      a {
        img {
          width: 46px;
          height: 47px;
          transition: all 0.4s;
          path {
            fill: $light-red;
          }
          &:hover {
            filter: drop-shadow(0px 0px 6px #ff3a52);
          }
        }
      }
    }
  }
  .AStoreGPlay {
    @include flex(row, wrap, stretch, space-between);
    max-width: 95%;
    img {
      width: 231px;
      height: 55px;
      line-height: 2.5;
      transition: all 0.4s;
      &:hover {
        filter: drop-shadow(0px 0px 6px #ff3a52);
      }
    }
  }
}
@media (max-width: 576px) {
  .footer {
    text-align: center;
    .subscription__form {
      .subscription__value {
        width: 60%;
        margin-left: auto;
      }
      .subscription__button {
        padding-left: 5px;
        padding-right: 5px;
        letter-spacing: unset;
        margin-right: auto;
      }
    }
    .social__btns {
      margin-left: auto;
      margin-right: auto;
    }
    .AStoreGPlay {
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      a {
        &:last-child {
          margin-top: 15px;
        }
      }
    }
    .mobile__padding-left {
      @include flex(column, nowrap, center, space-between);
      margin-top: 15px;
      padding-left: 15px !important;
    }
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .footer {
    h5 {
      margin-top: 0.7rem;
      line-height: 2.5;
    }
    .social__btns {
      margin-left: auto;
      margin-right: auto;
    }

    .subscription__form ~ h5 {
      margin-top: 0;
    }
    .AStoreGPlay {
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      a {
        &:last-child {
          margin-top: 15px;
        }
      }
    }
    .mobile__padding-left {
      @include flex(column, nowrap, center, space-between);
      margin-top: 15px;
      padding-left: 15px !important;
    }
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .footer {
    .row {
      flex-direction: row-reverse;
    }
    h5 {
      text-align: center;
      margin-top: 0.7rem;
    }
    .footer__nav {
      align-items: center;
      li {
        text-align: center;
      }
    }
    .col-xl-2.col-md-2.col-sm-6.col-xs-12 {
      h5 {
        line-height: 2;
        margin-bottom: 15px;
      }
    }
    .subscription__form {
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
    }
    .social__btns {
      margin-left: auto;
      margin-right: auto;
    }
    .AStoreGPlay {
      max-width: 500px;
    }
    .mobile__padding-left {
      @include flex(column, nowrap, flex-start, space-between);
      margin-top: 15px;
      padding-left: 15px !important;
      h5 {
        text-align: left;
      }
      .callOrder ~ div {
        margin-top: 0.5rem !important;
      }
    }
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .footer {
    .subscription__form {
      max-width: 300px;
      .subscription__button {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    h5 {
      line-height: 2;
      margin-bottom: 1.5rem;
    }
    .AStoreGPlay {
      flex-wrap: nowrap;
      a {
        transform: scale(0.9);
      }
    }
  }
}
