@-webkit-keyframes multicolorsAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes multicolorsAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes multicolorsAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes logoAnimation {
    0% {
        
        background-position: 0%;
    }
    100% {
        background-position: -78%;
    }
}
body {
    word-wrap: break-word;
    .boutique__container {
        .col-xl-3.col-lg-4.col-md-4.col-sm-6 {
            display: flex;
            flex-direction: column;
            
        }
    }
    .favorite-boutiques {
        .col-xl-3.col-lg-4.col-md-4.col-sm-6 {
            display: flex;
            flex-direction: column;
            
        }
    }
    .similar-boutiques {
        .col-xl-3.col-lg-4.col-md-4.col-sm-6 {
            display: flex;
            flex-direction: column;
            
        }
    }
    .recommended-boutiques {
        .col-xl-3.col-lg-4.col-md-4.col-sm-6 {
            display: flex;
            flex-direction: column;
            
        }
    }
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
    background-image: -webkit-linear-gradient(-90deg, #ad3df5 35%, #7286e7 100%) !important;
}
.hc-offcanvas-nav li.nav-close a:before, .hc-offcanvas-nav li.nav-back a:before {
    position: static;
}
.hc-offcanvas-nav li.nav-close a:hover, .hc-offcanvas-nav li.nav-back a:hover {
    background: #7286e7 !important;;
}
.hc-offcanvas-nav:not(.touch-device) a:hover {
    background: unset !important;
}
.hc-offcanvas-nav a, .hc-offcanvas-nav .nav-item {
    border-bottom: 1px solid rgba(114, 134, 231, .5) !important;
    transition: all 300ms ease;
    position: relative;
    z-index: 0;
    &:before {
        position: absolute;
        content: '';
        width: 0%;
        height: 100%;
        background: #7286e7;
        top: 0;
        left: auto;
        right: 0;
        z-index: -1;
        transition: all 300ms ease;
    }
    &:hover {
        &:before {
            position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: #7286e7;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1;
        }
    }
}
.hc-offcanvas-nav a, .hc-offcanvas-nav .nav-item {
    border-bottom: 1px solid rgba(114, 134, 231, .5) !important;
}
.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
    background: #7286e7 !important;
    border-top: 1px solid rgba(114, 134, 231, .5) !important;
    border-bottom: 1px solid rgba(114, 134, 231, .5) !important;
}
.hc-offcanvas-nav h2 {
    font-family: Montserrat;
    font-weight: 700 !important;
    color: $base-white-color !important; 
}
.hc-offcanvas-nav li.nav-parent .nav-item span {
    font-family: Montserrat;
    font-weight: 500;
}
.hc-offcanvas-nav li.nav-parent:first-child {
    display:none;
}
.hc-offcanvas-nav a {
    font-family: Montserrat;
    font-weight: 500;
    transition: all .1s ease;
} 
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 13px;
}
::-webkit-scrollbar:horizontal {
    height: 13px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    background-image: -moz-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(168,68,246) 0%, rgb(112,135,241) 100%);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: $base-white-color;
    background-image: url("../images/scroll__bg.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;  
      
}
::-webkit-scrollbar-thumb:window-inactive {
    background-color: $base-white-color;  
}
.banner--clone {
    position: fixed;
    z-index: 1000;      
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 300ms ease-in-out;
       -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
  }
  .banner--stick {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
  .banner--unstick {
    /* Not required to use, but could be useful to have */
  }
  .search-form {
    @include flex(row, nowrap, stretch, space-between);
    background-image: -webkit-linear-gradient(90deg, $soft-violet, $soft-blue);
    background-image: -moz-linear-gradient(90deg, $soft-violet, $soft-blue);
    padding: 1px;
    max-height: 46px;
    width: 100%;
    .search-field {
        @include text(Montserrat, 16px, 1.5, 500, $grayish-violet);
        text-align: left;
        border: none;
        
        background-color: $light-grayish-violet;
        padding: 10px 0 10px 20px;
        width: 100%;
        border-right: 1px solid $soft-violet;
        outline: none;              
        .search-field::placeholder {
          color: rgba(28, 28, 28, 0.502);
        }
    }
    .search-btn {
        width: 60px;
        background-image: url(../images/finder.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        border: none;
        outline: none;
        background-color: $light-grayish-violet;
            
    }
}
.header {
    background-color: #fff;
    .nav {
        padding: 0 !important;
        justify-content: flex-end;
        .nav-link {
            display: block;
            padding: .5rem 0.5rem;
            font-family: Montserrat;
            font-size: 12px;
            line-height: 2;
            font-weight: 700;
            color: #a551db;
            padding-right: 0;
        }
    }
    .mobile-nav {
        display:none;
    }
    .logo {
        @include text(Pacifico, 34px, 1, bold, $soft-red);
        background: linear-gradient(90deg, $soft-violet, $soft-blue);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;
        height: 100%;
        display: inline-block;
        background-size: 100%;
        transition: all .8s ease;
        animation: logoAnimation 0.8s linear 1 forwards paused;
        line-height: 1;
        &:hover {
            background-size: 200%;
            animation-play-state: running;
        }
    }
    p:first-child {
        display: none;
    }
    p {
        @include text(Montserrat, 13px, 1.714, 400, $dark-grey);           
    }
    
      
    .search-form {
        @include flex(row, nowrap, stretch, space-between);
        background-image: -webkit-linear-gradient(90deg, $soft-violet, $soft-blue);
        background-image: -moz-linear-gradient(90deg, $soft-violet, $soft-blue);
        padding: 1px;
        border-radius: 25px;
        max-height: 46px;
        .search-field {
            @include text(Montserrat, 16px, 1.5, 500, $grayish-violet);
            text-align: left;
            border: none;
            border-radius: 25px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            background-color: $light-grayish-violet;
            padding: 10px 0 10px 20px;
            width: 100%;
            border-right: 1px solid $soft-violet;
            outline: none;              
            .search-field::placeholder {
              color: rgba(28, 28, 28, 0.502);
            }
        }
        .search-btn {
            width: 60px;
            background-image: url(../images/finder.png);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
            border: none;
            outline: none;
            background-color: $light-grayish-violet;
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;       
        }
    }
    .search-example {
        margin-left: 20px;
        margin-top: 10px;
        display: none;
        span {
            color: $soft-violet;
            border-bottom: $soft-violet .5px dotted;
            cursor: pointer;
        }
    }
    .loginOrReg {
        @include flex(column, wrap, flex-end, space-around);
        .reg-btn {
            @include text(Montserrat, 12px, 2, 700, $base-black-color);
            text-transform: uppercase;
        }
        .login-btn {
            @include text(Montserrat, 12px, 2, 700, $soft-violet);
            border-bottom: $soft-violet .1px dotted;
        }
    }
    
    .multicolors {
        background-image: -moz-linear-gradient( 0deg, $bright-violet 35%, $soft-blue 100%);
        background-image: -webkit-linear-gradient( 0deg, $bright-violet 35%, $soft-blue 100%);
        background-image: -ms-linear-gradient( 0deg, $bright-violet 35%, $soft-blue 100%);
        background-size: 150% 150%;
        -webkit-animation: multicolorsAnimation 6s ease infinite;
        -moz-animation: multicolorsAnimation 6s ease infinite;
        animation: multicolorsAnimation 6s ease infinite;
        .burger-bc {
            position: absolute;
            background-color: $moderate-violet;
            width: 200%;
            height: 100%;
            left: -100%;
            right: 0;
        }
        .burger {
            @include flex(row, wrap, center, space-around);
            position: relative;
            padding: 10px 0;
            .hc-nav-trigger {
                position: relative;
                top: 0;
            }
            h3 {
                @include text(Montserrat, 24px, 2.5, 700, $base-white-color);
                cursor: pointer;             
            }
            .hc-nav-trigger {
                span {
                    width: 31px;
                    height: 2px;
                    background-color: $light-grayish-orange;
                    &::before, &::after {
                        height: 2px;
                        background-color: $light-grayish-orange; 
                    }
                    &::before {
                        top: -8px
                    }
                    &::after {
                        bottom: -8px;
                    }
                }
            }
        }
        .flexible {
            @include flex(row, nowrap, center, unset);
        }
        .main-nav {        
            @include flex(row, wrap, unset, space-between);
            width: 100%;
            list-style: none;
            li {
                a {
                    @include text(Montserrat, 12px, 5, 700, $base-white-color);
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all 300ms ease;
                    position: relative;
                    z-index: 0;
                    span {
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: auto;
                            right: 0;
                            height: 10%;
                            width: 0%;
                            background: $base-white-color;
                            z-index: -1;
                            transition: all 300ms ease;
                        }
                    }
                    &:hover {
                        span {
                            &:before {
                                content: '';
                                width: 100%;
                                left: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }  
    } 
}
@media (max-width: 576px) {
    body {
        word-wrap: break-word;
        .boutique__container {
            .col-xl-3.col-lg-4.col-md-4.col-sm-6 {
                margin-left: auto;
                margin-right: auto;
                
            }
        }
        .favorite-boutiques {
            .col-xl-3.col-lg-4.col-md-4.col-sm-6 {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .similar-boutiques {
            .col-xl-3.col-lg-4.col-md-4.col-sm-6 {
                margin-left: auto;
                margin-right: auto;
                
            }
        }
        .recommended-boutiques {
            .col-xl-3.col-lg-4.col-md-4.col-sm-6 {
                margin-left: auto;
                margin-right: auto;
                
            }
        }
    }
    .hc-offcanvas-nav li.nav-parent:first-child {
        display: block;
    }
    .header {
        
        p {
            text-align: center;
        }
        p.search-example {
            margin-left: 0;
        }
        .container.pt-5.pb-4 {
            padding-top: 0 !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .logo {
            line-height: 2;
            text-align: center;
        }
        .search-form {
            margin-top: 1.5rem;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            
        }
        .loginOrReg {
            @include flex(row, nowrap, center, space-around);
            margin-top: 1.7rem;
            max-width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        .multicolors {
            .main-nav {
                flex-direction: column;
                align-items: center;
                padding-left: 0;
                display: none;
            }
        }
        .mobile-nav {
            display: block;
        }
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .header {
        .container.pt-5.pb-4 {
            padding-top: 1.5rem !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .search-form, .loginOrReg {
            margin-top: 1.5rem;
        }
        .multicolors {
            .main-nav {
                
                padding-left: 0;
                li {
                    width: 50%;
                    text-align: center;
                }
            }
            .burger {
                justify-content: space-between;
            }
        }
    }
}
@media (min-width:769px) and (max-width: 992px) {  
    .header .logo {
        font-size: 35px;
        line-height: 2;
    }
}      
@media (min-width: 992px) and (max-width: 1200px) {
    .header .logo {
        font-size: 31px;
    }
}          